[2020-08-28 07:46] HackbrettXXX commented on #2879
Great! I'll merge it and I will probably prepare a bugfix release next week.

[2020-08-28 07:46] #2879 closed

[2020-08-28 07:46] gerbenmeyer commented on #2879
Awesome, thanks a lot!

[2020-08-28 07:53] HackbrettXXX commented on #2882
The PDFs jsPDF generates are indeed not PDF/A compliant and currently there is nothing planned to implement it. If someone from the community prepares a pull request, we will happily merge it, though.

To set the PDF version you could use the private method `setPdfVersion`: `doc.__private__.setPdfVersion("1.4")`.

Duplicate of #2782.

[2020-08-28 07:57] HackbrettXXX commented on #2832
I'm really busy again ATM. I hope I will find the time to look into this in the next weeks. Sorry about that. If this is not fast enough, you may always have a look at the sources yourself  or find someone else to do it ;)

[2020-08-28 08:00] HackbrettXXX commented on #2883
Ah, thanks for the report. Could you prepare a pull request?

[2020-08-28 08:01] #2878 closed

[2020-08-28 08:06] HackbrettXXX commented on #2870
Can I close this?

[2020-08-28 11:09] Xenoage commented on #2883
See https://github.com/MrRio/jsPDF/pull/2884
Closing this issue

[2020-08-28 11:09] #2883 closed

[2020-08-28 15:00] HanXHX commented on #2615
I confirm the issue

[2020-08-28 15:01] HanXHX commented on #2470
I confirm the issue

[2020-08-28 16:11] HackbrettXXX commented on #2470
@andrescst could you prepare a pull request? We might also try updating to html2canvas@1.0.0-rc.7.

[2020-08-28 17:36] PierreOlivierMorin opened #2885 "jsPDF.html output very large fields in document."
Hello there, i've been trying the jsPDF.html function, but it seems its outputting the html but in such large scale that it is unreadable. Am I doing something wrong? I've been using the lines from the documentation itself in my componnent.
I am actually working with vue.js.
[code]
The code results its this file:
[generated.pdf](https://github.com/MrRio/jsPDF/files/5143402/generated.pdf)

[2020-08-28 17:36] HanXHX opened #2886 "Dead/obsolete code with "HTMLOptions" interface?"
Hi,

I'm working with your lib (2.1.1).

I simply load the module. When I want to use the "html" method, i see an "HTMLOptions" interface:

https://github.com/MrRio/jsPDF/blob/ff854e79ae70169572fa3fbf5937b92f80a38ffc/src/modules/html.js#L964-L982

However in the module, it's a simple "Collection of settings":

https://github.com/MrRio/jsPDF/blob/ff854e79ae70169572fa3fbf5937b92f80a38ffc/src/modules

[2020-08-28 19:25] AlexandreBear commented on #2885
+1

[2020-08-28 20:06] andruts commented on #2470
Hey, I have no longer access to @andrescst account but ill be happy to do it from this one.

[2020-08-29 18:40] kakugiki commented on #2885
try to add options - `new jsPDF('p', 'pt', 'a4');`. @HackbrettXXX  the default unit should be 'pt' instead of 'mm'?!

[2020-08-30 04:49] RocktimSaikia opened #2888 "Set up git hooks"
Currently, the project doesn't have any git hooks implemented. Since there are quite a few scripts available I would recommend setting up a pre-commit hook with a tool like [husky](https://github.com/typicode/husky) for safe commits.

[2020-08-30 15:51] SebastianKut commented on #555
Changing **this.pdf.internal.getVerticalCoordinateString(this.y), e.color, "Td");** to **this.pdf.internal.getVerticalCoordinateString(this.y), "Td"); in jspdf.js** worked for me.

[2020-08-30 20:36] Blunderchips commented on #2833
@subhapoduri is this still an issue?

[2020-08-31 02:34] #2864 closed

[2020-08-31 02:37] Korris opened #2889 "How to add SVG to PDF"
Hi guys im making a CV with Pdf , im trying to add a SVG to PDF , i have research a lot of but didnt work
my expect is add svg from url not from a node from HTML because im only making draw PDF not convert HTML to PDF
And if possible do we have way to change color of SVG before add to PDF ?

Thanks

[2020-08-31 05:36] GaeTaeng opened #2890 "Why is jsPDF outputing data loss after 8page ~?"
**I want make Multiple PDF page, and it can make pdf with form but it can't get html data after 8page ~

i don't know why data loss

help,,,, please

7Page have contents Data and under name Data

8Page have contents Data but loss name Data

9Page loss Contents Data and have name Data

10~ loss Contents Data and loss Name Data ..**

[code]

**Under 7Page Normal PDF**
![스크린샷 2020-08-31 오전 1

[2020-08-31 07:26] HackbrettXXX commented on #2885
@kakugiki I agree that "mm" is not a good default. But changing the default is a breaking change, so we shouldn't change it.

[2020-08-31 07:35] HackbrettXXX commented on #2886
Thanks for the report. The jsdoc comment is outdated. The typings file is closer to the truth, although I'm not sure which of the options are actually respected. E.g. `enableLinks` does not seem to be used in the code. Could you maybe prepare a pull request that fixes both the jsdoc comment and only lists the correct options in the typings file?

[2020-08-31 07:50] nimble-123 opened #2891 "Linebreaks are not recognized in rendered text in a cell"
Hi,

i want to create a table and have some linebreaks in a cell. But in the rendered pdf document these linebreaks are not recognized anymore.

[code]

Is this a bug or am i doing something wrong?

Any help would be much appreciated.

[2020-08-31 08:05] HackbrettXXX commented on #2888
Not too bad of an idea ;) We already have some protection: the master branch is protected and merging/pushing to it is only possible if the merged/pushed commits pass the CI tests. Not all tests run on CI, however, so adding a pre-commit hook might not be a bad idea.

[2020-08-31 08:12] huanlirui commented on #1336
i use yarn add jspdf . but Uncaught TypeError: pdf.addHTML is not a function

[2020-08-31 08:12] RocktimSaikia commented on #2888
@HackbrettXXX Right. I can make a pull request on that if that's okey !

[2020-08-31 08:36] HackbrettXXX commented on #2889
You have two options: either use [svg2pdf](https://github.com/yWorks/svg2pdf.js) or use [canvg](https://github.com/canvg/canvg) together with the jsPDF canvas (see e.g. [here](https://github.com/MrRio/jsPDF/blob/master/test/specs/context2d.spec.js#L23). Canvg also directly accepts an URL, svg2pdf not. But in both cases you can simply fetch the SVG file yourself and parse it with a [DOMParser](http

[2020-08-31 08:38] HackbrettXXX commented on #2890
Which version of jsPDF do you use? This seems like a bug that was fixed with 2.0.0 (#2793).

[2020-08-31 08:42] HackbrettXXX commented on #2891
You could try setting an array of strings with one entry per line. Not sure if this will work, though.

[2020-08-31 08:45] HackbrettXXX commented on #2888
Would be appreciated ;)

[2020-08-31 08:46] HackbrettXXX commented on #1336
@huanlirui the `addHTML` function was removed in 2.0.0. Either use 1.5.3 or use the `html` function instead.

[2020-08-31 09:00] nimble-123 commented on #2891
@HackbrettXXX i tried that but i didn't work.

[2020-08-31 12:47] Kirubelabr opened #2892 "I cannot use jsPDF with Angular 10"
I was trying to print my page using jspdf library version 2.1.0 with Angular version 10. I've also added a question in stackoverflow and here is the link https://stackoverflow.com/questions/63667889/i-cannot-use-jspdf-with-angular-10

Reproducing this issue in stackblitz
https://angular-ivy-vtuj3b.stackblitz.io

Version used
1. jspdf version 2.1.0
2. Angular version 10

After working with the OP f

[2020-08-31 12:49] HackbrettXXX commented on #2892
Use `import { jsPDF } from "jspdf"` and everything should work fine.

[2020-08-31 12:57] Kirubelabr commented on #2892
I did try, please check the stackoverflow question for the solution I've tried.
So far I've tried importing jspdf as follows

`import * as jsPDF from 'jspdf'`
_Not working - errMsg: 'fromHTML is not a function'_

on another trial

`import { jsPDF } from 'jspdf'`
_Not working - errMsg: 'fromHTML is not a function'_

and yet on another trial

`declare const jsPDF: any;`
_Not working - errMsg:  'jsPD

[2020-08-31 12:58] HackbrettXXX commented on #2892
The `fromHTML` method was removed in 2.0.0. Use `html` instead.

[2020-08-31 13:01] Kirubelabr commented on #2892
So to use `html` as you suggested, do I need to install `html2canvas` as well or shall this work as intended without the library?

[2020-08-31 13:05] HackbrettXXX commented on #2892
The `html` method requires `html2canvas`, which is dynamically imported by jspdf. `npm install jspdf` should also install html2canvas automatically, so, in theory, no action from your side is required. Angular will create a separate chunk for html2canvas.

[2020-08-31 13:09] Kirubelabr commented on #2892
On the same context should I also add `"./node_modules/jspdf/dist/jspdf.umd.min.js"` inside `angular.json` under scripts?

[2020-08-31 13:11] HackbrettXXX commented on #2892
No, don't include jspdf or any of its dependencies as script in the angular.json. The import statement is enough.

[2020-08-31 13:23] Kirubelabr commented on #2892
Okay, now it seems to be working. One issue though the inner html elements are not populating on the generated pdf. It's all blank.

[2020-08-31 13:29] HackbrettXXX commented on #2892
That's odd, please share your code (including your html markup).

[2020-08-31 13:30] Kirubelabr commented on #2892
I'll update the stackblitz project I already created in few minutes.

[2020-08-31 13:33] Kirubelabr commented on #2892
[Here is a stackblitz project I've created](https://angular-ivy-vtuj3b.stackblitz.io). Please check it out.

[2020-08-31 14:17] manuelamaria commented on #2805
I'm also trying to add html to pdf on the server side with **jspdf v2.1.0** and **node v14.9.0**. Is this supposed to work out of the box, or do I still need to add jsdom?

[I get `UnhandledPromiseRejectionWarning: ReferenceError: document is not defined`.]

I tried wrapping my html with jsdom, and then passing it to the `html` function, but I get `UnhandledPromiseRejectionWarning: Error: Unknown

[2020-08-31 15:04] PierreOlivierMorin commented on #2885
@kakugiki Thanks! that worked, but it did not fix the problem of line return, as you can see in the pdf, all words are separated into different lines. Am I still doing something wrong?
[generated.pdf](https://github.com/MrRio/jsPDF/files/5151046/generated.pdf)

[2020-08-31 15:24] HackbrettXXX commented on #2805
You need to set the document globally:
[code]
And then use something like `document.body` for the `doc.html` call.

[2020-08-31 16:52] kakugiki commented on #2885
@PierreOlivierMorin looks like a style issue. [add a backgroundColor and check the output content](https://github.com/MrRio/jsPDF/issues/2699#issuecomment-667413344).

[2020-09-01 00:33] GaeTaeng commented on #2890
![image](https://user-images.githubusercontent.com/41108735/91781728-fb31fb00-ec35-11ea-9d13-23027e5263af.png)

After listening to your advice, I upgraded to version 2.1.0, but the phenomenon is still present.

[2020-09-01 01:34] #2639 closed

[2020-09-01 05:07] subhapoduri commented on #2833
No was able to fix it .

[2020-09-01 06:05] Kirubelabr commented on #2892
So, after changing versions and trying to figure out what the issue is, now I've narrowed the problem and I'm able to use `jspdf` with `Angular 10`. Here is what seems to work but still it doesn't give the desired output since it couldn't load the `css` associated with the page. Using the latest `jspdf` version which is `2.1.0`,

[code]

And right now this doesn't load the `css` style that is used

[2020-09-01 07:14] manuelamaria commented on #2805
Thanks for the answer!

Unfortunately I get more errors from jsdom: `Error: Not implemented: window.computedStyle(elt, pseudoElt)`, `Error: Not implemented: window.scrollTo`

This is my code:
[code]

[2020-09-01 07:54] HackbrettXXX commented on #2753
Fixed in 2.0.0

[2020-09-01 07:54] #2753 closed

[2020-09-01 07:57] HackbrettXXX commented on #2367
Resolved in 2.0.0

[2020-09-01 07:57] #2367 closed

[2020-09-01 08:14] #2833 closed

[2020-09-01 08:21] HackbrettXXX commented on #2805
Well, seems like jsdom doesn't implement all required APIs. What you might try is running jsPDF in a headless browser on the backend instead.

[2020-09-01 13:38] christiaanwesterbeek commented on #434
There's a small typo in this solution. It has both 592.28 and 595.28, but it should be 595.28, since that matches the A4-ratio with 841.89 for height.

[2020-09-01 18:41] monicat2504 commented on #2208
@HackbrettXXX  is it released yet?

[2020-09-01 20:32] Devl11 commented on #2438
Im facing a similar problem with `cannot read property 'charCodeAt' of undefined or null`with `doc.addimage()`.
The problem seems only be happening when running with IE, Chrome works fine.
Im using jsPDF 2.1.0

[2020-09-02 07:25] HackbrettXXX commented on #2208
Yes: https://github.com/MrRio/jsPDF/releases/tag/v2.0.0

[2020-09-02 07:27] HackbrettXXX commented on #2438
@Devl11 did you include all required polyfills? (`import 'jspdf/polyfills.es.js'`)

[2020-09-02 07:29] HackbrettXXX commented on #2758
Fixed in 2.0.0

[2020-09-02 07:29] #2758 closed

[2020-09-02 08:22] Devl11 commented on #2438
This was working in `1.5.3`, did not use polyfill back then. Tried it now with 2.1.0 but got the same error in IE.

In `1.5.3` this worked:
[code]
But does not in 2.1.0. I did solved it now, if I make a base64 of my image then it worked in IE for `2.1.0` without the error.

[code]

[2020-09-02 09:13] khaphannm commented on #1969
I tried, but did not work. Do u have any other solution? I am using React

[2020-09-02 09:43] alex-marinov commented on #1969
I use PDFObject to embed, works great - https://pdfobject.com/

Here is an example;
`        <div id="example1"></div>
        <script src="/js/pdfobject.min.js"></script>
        <script src="/js/jspdf.min.js"></script>

        <script>
            PDFObject.embed(createPDF(), "#example1");

            function createPDF() {
                var doc = new jsPDF();

                doc.setFont("h

[2020-09-02 11:41] HackbrettXXX commented on #2438
I just tested your original code in IE 11 and I could not reproduce the issue. Could you share a complete repro?

[2020-09-02 11:56] BeejeeDS opened #2894 "ImageCompression is not being exposed"
I want to use the addImage method but this is not possible because ImageCompression is not being exposed in the typings.
I am using version 2.1.0

The only workaround is using any to fool ts.
pdf.addImage(contentDataUrl, 'JPEG', margin, margin, width , height, null, ("NONE") as any);

[2020-09-02 17:01] omendez85 commented on #2892
Hi, i'm using .html() to generate the PDF

 let doc = new jsPDF();
        let elementHTML = document.getElementsByClassName('id-card');
        console.log(elementHTML);
        doc.html(document.body.innerHTML, {
            callback: function (doc) {
              doc.save();
            }
         });

But the PDF generated only includes the text and icons but did not respect the styles.

Any

[2020-09-02 23:26] e-hop commented on #2846
working. install

`npm i jspdf@1.5.3`

[2020-09-03 07:47] HackbrettXXX commented on #2894
You are right. Could you prepare a pull request where you add the "export" where it is missing (from a quick glance this is ImageCompression, ColorSpace, and ShadingPatterStop)?

[2020-09-03 07:53] HackbrettXXX commented on #2892
Quick idea out of my head: Angular usually scopes the styles meaning it prepends a random string to any class and id selector. This is why the selectors don't apply for the isolated html. Could you check if that's the case?

[2020-09-03 07:54] HackbrettXXX commented on #2846
@e-hop or `npm i jspdf@2.1.0` ;)

[2020-09-03 13:41] omendez85 commented on #2892
i tried scoping only the component to be converted to PDF, the component has encapsulated the CSS but it's not working, i found two ways that the PDF includes the styles:
1) use the whole page (document.body.innerHTML) as a selector,  but  I don't need the full page, I only need the component
2) Use html2canvas to create the screenshot of the component and use it to generate the PDF.

Thanks

[2020-09-03 13:47] HackbrettXXX commented on #2892
We use html2canvas internally for converting the html to PDF. So if the styles are picked up by html2canvas when creating a screenshot, they should in theory also work when calling `jsPDF.html`.

[2020-09-03 15:00] petitmat commented on #2846
That's a bit strange, I still have the issue after upgrading to 2.1.0, do you know why ?

Here is my code
[code]

with my package.json

[code]

error:
[code]

[2020-09-03 15:10] HackbrettXXX commented on #2846
@petitmat Which framework build tool do you use? Is the dompurify chunk in the dist folder? Any warnings during the build? Is dompurify correctly installed (check the node_modules folder)?.

[2020-09-03 16:04] petitmat commented on #2846
@HackbrettXXX thank you for your answer
I'm using react with webpack. In fact dompurify is not in the dist folder (in `node_modules/jspdf/dist`). But I don't have warnings during the build, and dompurify correctly installed (I've made a fresh npm install after I removed mannually jspdf, html2canvas and dompurify from node_modules).

[2020-09-04 07:37] HackbrettXXX commented on #2846
That's odd. Could you share a small repro project?

[2020-09-04 11:09] borjaevo opened #2896 "Unable to set cell padding to 0"
Hello,

Im trying the same in the live example and in my code, and in my code it seem to be ignoring the config parameter.

This is my code:
`doc.table(200, 26, parseBarriosForPrint(), headersForPrint, { autoSize: true, padding:0, fontSize:7});`

Table is redered ok but with default padding, it does not care if i set padding to 0 or to 100, it does nothing. In the live cell example i do the same a

[2020-09-04 11:27] HackbrettXXX commented on #2896
I'm not sure, but if the live example works it doesn't seem like a bug in jsPDF.

[2020-09-04 12:05] borjaevo commented on #2896
What version of jsPDF is using live version? Im going to test the example with my version.

[2020-09-04 12:11] borjaevo commented on #2896
I dont know whats happening but the jsPDF version the live examples are using and me are not working the same way. I test the live example code and the table width is bigger than the A4 page size...

[2020-09-04 15:14] staniszmatt commented on #2846
Hope this will this will help, below resolved the issue during the build phase and dev:
I am using React-Electron boiler plate and in the configs/webpack.config.base.js file I added to externals:

`  externals: [
    ...Object.keys(externals || {}),
    { 'electron-debug': 'electron-debug' },
    { 'jspdf': 'jspdf' }
  ],`

For both the electron warnings and the jspdf warnings appear to be resolve

[2020-09-05 02:22] #2752 closed

[2020-09-06 16:10] aguoshuai opened #2897 "请问怎么自定义生成的pdf背景"
请问怎么自定义生成的pdf背景

[2020-09-07 07:33] HackbrettXXX commented on #2896
The live example always uses the most recent version which is 2.1.0 currently.

[2020-09-07 07:44] HackbrettXXX commented on #2846
@staniszmatt this looks like you're importing jsPDF "twice" - once as script tag (or similar, don't know how electron works in particular) and once with import statements. If that's the case you can get rid of the script tag and the externals declaration.

[2020-09-07 07:49] HackbrettXXX commented on #2897
Please create issues in English. You can customize the background any way you like using the jsPDF API. Please elaborate your use case.

[2020-09-07 07:53] aguoshuai commented on #2897
Can you give me  jsPDF API address ? I looked for it for a long time but I couldn't find it

[2020-09-07 07:57] HackbrettXXX commented on #2897
http://raw.githack.com/MrRio/jsPDF/master/docs/

[2020-09-07 08:01] aguoshuai commented on #2897
This address doesn't open, brother, can you open it？

[2020-09-07 10:22] cloakedch commented on #2892
I just upgraded to the latest jsPDF version (2.1.0) and these are the warnings I get:

<details>
  <summary>Output</summary>
WARNING in /app/node_modules/canvg/lib/index.es.js depends on 'raf'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

WARNING in /app/node_modules/canvg/lib/index.es.js depends

[2020-09-07 10:24] #2886 closed

[2020-09-07 11:59] HackbrettXXX commented on #2897
It opens fine on my end. Maybe a firewall, etc. blocks githack.com?

[2020-09-07 12:01] HackbrettXXX commented on #2892
@cloakedch That's an issue of canvg. If you don't use the `addSvgAsImage` function you can simply mark canvg as external. See the readme for details.

[2020-09-07 16:25] anton6 opened #2899 "Problems with .html() - v2.1.1"
I have two cases where I get unexpected results when running .html()

I am using jspdf v2.1.1

Case1:

[code]

What I expect here is to see 1 pdf file with two lines:
**Test1**
_Test2_

But what I get is only 1 line **Test1**, where did _Test2_ go?

Case2:

[code]

What I expect here is to see 2 pdf files, one with **Test1** and second with _Test2_. But instead I get one empty file and another fil

[2020-09-08 01:47] aguoshuai commented on #2897
isok，I changed my DNS and I can access it. Thank you

[2020-09-08 03:58] iamvijaydev opened #2900 "AcroForms are broken in jsPdf demo: https://mrrio.github.io/jsPDF/"
The AcroForms demo is broken with the following error.

![Kazam_screenshot_00000](https://user-images.githubusercontent.com/1841090/92431628-989caa00-f1b5-11ea-889d-2334006fab28.png)

I am not sure if this is a problem with the new release or just the demo itself.

**How to reproduce:**
1. Visit: https://mrrio.github.io/jsPDF/
2. Choose AcroForms options
3. Notice blank PDF preview
4. View the abo

[2020-09-08 05:01] LordGalahad opened #2901 "atob function failing in IE11 and pre-Chromium Edge"
It seems that I cannot load custom fonts in IE11 or pre-Chromium Edge.

My Project selects a font file and then converts it into a Base64 string

I have no problems running this into Chrome or FireFox.

But when it came to IE11 or old Edge, I get that PubSub error with an invalid calling object details.

I tried to debug and and ended up here

![image](https://user-images.githubusercontent.com/618

[2020-09-08 06:49] xuedaobian opened #2903 "how to use the jsPDF?"
i download it to my computer,but npm tell me the warning:
 "export 'jsPDF' was not found in '@risk/api/jspdf.debug.js'
my version is : 1.5.3 jsPDF.debug.js
use in vue item,
`import { jsPDF } from '@risk/api/jspdf.debug.js'
const pdf = new jsPDF('','pt','a4')
`
then i see `Uncaught (in promise) TypeError: _risk_api_jspdf_debug_js__WEBPACK_IMPORTED_MODULE_6__.jsPDF is not a constructor ...`

how can

[2020-09-08 08:13] HackbrettXXX commented on #2899
That's interesting. Seems like multiple consecutive calls to the `html` function are broken.

[2020-09-08 08:14] #2897 closed

[2020-09-08 08:18] HackbrettXXX commented on #2900
It's the example that's broken. The AcroForm field classes are no longer exposed globally. They live under the global `jspdf` object. Could you prepare a pull request that fixes the example?

[2020-09-08 08:52] HackbrettXXX commented on #2901
If I understand your description correctly, you are not reporting a bug in jsPDF but describing how you created a valid Base64 string from a blob? If you think this is a bug in jsPDF please share a complete repro.

FYI, instead of creating a Base64 string, you can also pass a binary string.

[2020-09-08 08:56] HackbrettXXX commented on #2903
Use jsPDF@2.1.1. Run:
[code]
Then import jspdf:
[code]

[2020-09-08 09:02] LordGalahad commented on #2901
Yeah my current workaround right now is passing a binary string instead. And yeah, it works this way. I guess we are too used to Base64 because we transport a lot of stuff to the server. But since everything is client side I think this is ok.

I may report this as an issue, but with IE11 being dropped next year and EDGE being placed by the Chromium Version, I will try to consult with my team about

[2020-09-08 10:49] anton6 commented on #2899
Hi @HackbrettXXX. I can see you are an active contributor to the repo. Any estimate on how long it would take to fix and release new version? Thanks

[2020-09-08 11:20] markotaht opened #2904 "compressed PDF not displayd correctly in OSX preview"
Using the jsPDF to construct a PDF file and for reduced size it is compressed. Works fine in most places but when opened in OSX preview, the text is all jumbled up.

When validating the PDF with: https://www.pdf-online.com/osa/validate.aspx i get
`

Compliance | pdf1.4
-- | --
Result | Document does not conform to PDF/A.
Details | Validating file "cert(2).pdf" for conformance level pdf1.4Error in

[2020-09-08 11:41] HackbrettXXX commented on #2899
I'm currently quite busy, so if I have to implement the fix myself it will probably take weeks if not months. If you or someone else provides a pull request, I will merge and release it in a timely manner.

[2020-09-08 11:44] HackbrettXXX commented on #2904
Duplicate of #2743.

If you already have experience PDF compression. Could you maybe prepare a pull request with the fix? That would be awesome!

[2020-09-08 11:53] HackbrettXXX commented on #2901
Ah I can imagine why it doesn't work in IE/Edge. We call `atob` without "this". The fix should be easy. I'm preparing a pull request.

[2020-09-08 12:05] HackbrettXXX commented on #2901
Could you check if the fix really resolves the issue (run `npm run build` first)?

[2020-09-08 14:53] iamvijaydev commented on #2860
@Nilanth with jsPDF you can create AcroForms and set the fieldName properly. Auto filling the value corresponding to the fieldNames happens in tools like Acrobat editor. Make sure you set the `fieldName` properly while creating AcroForm items. It's not the responsibility of jsPDF to fill the final values.

Being said that, if you happened to have this data while viewing/creating the jsPDF, you can

[2020-09-08 14:54] #2900 closed

[2020-09-09 05:06] LordGalahad commented on #2901
Thanks. It is working now 👍

[2020-09-09 07:41] HackbrettXXX commented on #2901
Great!

[2020-09-09 07:41] #2901 closed

[2020-09-09 09:36] xuedaobian commented on #2903
useless，，，same case is .

[2020-09-09 10:17] HackbrettXXX commented on #2903
Please use jspdf according to the readme. I'm closing this issue. If you think this is a bug in jsPDF feel free to reopen.

[2020-09-09 10:17] #2903 closed

[2020-09-09 14:05] markotaht commented on #2904
Well... i can try. Probably gona take a while until i understand the structure of this project and find everything i need to change.

[2020-09-09 14:38] mhosman opened #2907 "New HTML method does not fit width"
How to fit into the PDF document using the new html method?

[2020-09-09 15:41] HackbrettXXX commented on #2904
Thanks. If you need a pointer let me know ;)

[2020-09-10 02:15] #2890 closed

[2020-09-10 08:30] umeshsingh1947 opened #2908 "how to use header and footer data in html()"
how to fixed header and footer every page. i am using
   doc.html(content, {
			callback: function (pdf) {
		pdf.save('invoice');
			}
    });

[2020-09-10 19:01] austinjl commented on #2295
Im not sure the reason but its not working for me either. the documentation does say it takes a margin param of an array
http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html#~html

[2020-09-10 19:30] austinjl commented on #1176
I've yet to find a working solution for setting page margins. This is what I see in the documentation but it is not working for me

`var pdf = new jsPDF('p', 'pt', 'letter');
pdf.html(document.querySelector('#render_me'), {
  callback: async function(pdf) {
    pdf.save('sample-file.pdf');
  },
  margin: [25, 50, 25, 50]
});`

[http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html#~html]

[2020-09-11 02:12] ZackMurry opened #2909 "HTML line breaks happening after every word"
I'm trying to download a PDF with content generated from html. Whenever I add HTML content and save it, there are line breaks after every word. I'd like to remove them, while still keeping line breaks whenever the text wraps at the right side of the PDF.

Here's some example code to show what I'm talking about:

[code]

I have this on a code sandbox, but it doesn't look like you can download files

[2020-09-11 15:21] royalvincent commented on #170
@eKoopmans is there a way to add hyperlink to an image?

[2020-09-11 21:48] JoakFlores opened #2910 "1.3.2 version , addimage"
For the 1.3.2 version, addimage only works with base64 or can I put the URL ?

[2020-09-12 20:32] HennDev opened #2911 ".html(), how to fit content to single pdf? My div is printing into 3 total pages?"
Using the latest version, here:

[code]

Essentially it is printing this one element out into 3 pages (landscape). I can't figure out how to adjust the sizing properly so everything passed into the first param of html() gets used in one page. Anyone have tips on this?

Below are the results of the html table and then the resulting pdf.

https://i.imgur.com/r60rteJ.png

https://i.imgur.com/aSSBLTu.

[2020-09-13 06:15] izdwuut opened #2912 "The variable type in documentation should be number, not string"
Hi

[This](https://github.com/MrRio/jsPDF/blob/de1e8ef7fb4a4ee1316b2da5c7f780e93ab8feb7/docs/jsPDF.html#L13405) is the line that contains the wrong type. As the topic says, it should be `number`, not `string`.

[2020-09-13 10:47] MrRio opened #2913 "Bundlephobia fails to build 2.1.1"
https://bundlephobia.com/result?p=jspdf@2.1.1

main.bundle.js from Terser "Export" statement may only appear at the top level [main.bundle.js:516,2614] at Q

[2020-09-14 01:37] HennDev commented on #2852
@nakhodkin , were you able to resolve your issue? I'm currently trying to work with .html() but having issues myself

https://github.com/MrRio/jsPDF/issues/2911

[2020-09-14 08:01] HackbrettXXX commented on #170
@royalvincent you can use the [link](http://raw.githack.com/MrRio/jsPDF/master/docs/module-annotations.html#~link) method and use the same x/y/width/height properties as the image.

[2020-09-14 08:03] HackbrettXXX commented on #2910
It only wprks with base64. Update to a more recent version (I think 1.5.3 should be enough, but better update to 2.1.1).

[2020-09-14 08:03] #2910 closed

[2020-09-14 08:10] HackbrettXXX commented on #2912
Yes, seems like many of the `text` arguments have the wrong type. Could you prepare a pull request fixing the types in the JSDoc comment of the [text](https://github.com/MrRio/jsPDF/blob/master/src/jspdf.js#L3283) method.

[2020-09-14 10:34] antiformatiker commented on #2907
I think this issue is related to #2885 .

[2020-09-14 10:35] antiformatiker commented on #2909
I think this issue is related to #2885 .

[2020-09-14 10:35] antiformatiker commented on #2911
I think this issue is related to #2885 .

[2020-09-14 10:50] JoakFlores commented on #2910
Thanks Lukas.

What file have I copy for the new version (2.1.1) , currently I work with the jspdf.min.js file (1.3.2) but for the new version under the "dist" carpet  I see ... es, node, umd files , Could you help me, please? I work with native JavaScript project.

[2020-09-14 11:41] HackbrettXXX commented on #2910
If you are not using any build tools, use the "jspdf.umd.min.js" file. Otherwise the "jspdf.es.min.js". Also: the global variable was renamed in 2.0: the jsPDF constructor is now under `window.jspdf.jsPDF`.

[2020-09-14 12:01] HackbrettXXX commented on #2913
Seems like Bundlephobia can't handle es6 style imports/exports in library bundles. I created an issue on their side: https://github.com/pastelsky/package-build-stats/issues/26.

[2020-09-14 12:47] JoakFlores commented on #2910
Oks Lukas, thanks

[2020-09-14 16:07] ShunCai opened #2914 "Use .html() method, it throws: Could not load dompurify"
Hello，Use jspdf.umd.js@2.1.1 in chrome browser，it throws the following error：Could not load dompurify

The Script：
[code]

The HTML：
[code]

The Error：
![image](https://user-images.githubusercontent.com/39191272/93109814-16494400-f6e7-11ea-9abd-40adf7dea3a5.png)
![image](https://user-images.githubusercontent.com/39191272/93111037-ab007180-f6e8-11ea-95c3-be9de4883d8f.png)

[2020-09-14 16:27] ShunCai commented on #2914
Thanks，After adding html2canvas(1.0.0-rc.7), the problem is solved.

[2020-09-14 16:27] #2914 closed

[2020-09-15 07:44] markotaht commented on #2904
@HackbrettXXX Can you make a quick overview on how the current Deflater.js is used? I keep finding pits and pieces all around the place, and it makes it rather difficult to root it out and supstitute it :D.

[2020-09-15 08:10] HackbrettXXX commented on #2904
Of course:

* If the user passes `compress: true` to jsPDF, "FlateEncode" is added to the filter chain.
* When any jsPDF function writes a PDF stream (`putStream` in jspdf.js), it is processed by the filter chain
* `putStream` calls `processDataByFilters`, which then calls `FlateEncode` (filters.js)
* This is where the "magic" happens and the `Deflater` is used

The deflater is also used in the pn

[2020-09-15 08:55] markotaht commented on #2904
@HackbrettXXX Now if i do npm install pako, just to test if the issue is with deflater, how do i include it in the final package for testing ?

[2020-09-15 10:14] HackbrettXXX commented on #2914
Yes, the error message was wrong (fixed in #2906).

[2020-09-15 16:33] izdwuut commented on #2912
Sure. [Here's](https://github.com/MrRio/jsPDF/pull/2915) my pull request.

[2020-09-16 08:20] markotaht commented on #2904
@HackbrettXXX Could you instruct me on how to build the package in such a way that it would work, if i have done `npm install pako`. It seems that the rollup kinda wants something but i cant quite put my finger on it.

[2020-09-16 11:19] ravish07 opened #2916 "Right align does not work properly with jspdf in tables"
Right align does work properly with jspdf 2.0.0 version. text is not displayed at correct position.
When i call doc.text(text, x, y,{"align":"right"});
Calculated X, Y coordinates are not correct.

[2020-09-16 12:31] whjvenyl commented on #199
I'd like to have this ticket re-opened:

Why:
eg. Roboto-Medium corresponds to a font-weight of 500.

Currently it's not possible to correctly define the font in css with the font-face declaration:
`@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    font('Roboto-Medium.woff2') format('woff2'),
    font('Roboto-

[2020-09-16 12:43] HennDev commented on #2911
Yeah seems somewhat related but already doing the suggested `new jsPDF('p', 'pt', 'a4');` options. It links to another issue without a resolution as well, strange.

I assumed maybe there was a standard solution for my problem. Trying to get a div to show full screen in the PDF regardless of its original size but maybe not.

[2020-09-18 04:36] ap-prog opened #2918 "Standalone version of version 2 available?"
Currently I'm using version 1.5.3 and I'm considering upgrading to 2.1.1 but I don't want to go to a module version of jsPDF (because of the work that needs to be done to update and test the code that references it). Is there a standalone (non-module) version of 2.1.1 available either on a CDN or for download?

[2020-09-18 07:52] HackbrettXXX commented on #2918
The `jspdf.umd(.min).js` variant is standalone. If you use the `html` function you need to load UMD versions of `html2canvas` and `dompurify` as well. If you use `addSvgAsImage` you need to load `canvg`. You can load it from CDN, e.g. from `https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js`. Note that the name of the global variable has changed to lowercase `jspdf`.

[2020-09-18 07:52] #2918 closed

[2020-09-20 05:06] anders8 commented on #1658
There's a pattern that people are missing while reading this thread:

In all cases where doc.autoPrint(); works, in all the demos, jsfiddles, et cetera... **the pdf is being shown in the window**.

In all the cases where doc.autoPrint(); **doesn't work**, you'll see that what people want to do is **skip showing the pdf at all, and go straight to printing**.

The final line of code is identical in

[2020-09-21 01:36] #2771 closed

[2020-09-21 10:22] Lightras commented on #2909
To me, it looks like not the line breaks but the width is the problem. Looks like the width becomes "minimum needed" which is the width of the longest word.
I've fixed it by wrapping my HTML into a div with `div.style.width = calculatedWidthOfPageContent`.

[2020-09-21 10:23] Lightras commented on #2885
See my comment [in the related issue](https://github.com/MrRio/jsPDF/issues/2909#issuecomment-696027548)

[2020-09-21 10:45] Lightras commented on #2852
I'm having troubles with fromHTML() to html() migration too!
What's missing:

1. Providing html() with the desired width.

    I've fixed it by wrapping my html into div with the calculated width (the same fix works for applying a custom font). It works, but providing the width in the options for the method felt like a better way.

2. Setting margins.

    As the docs state, we can provide margins

[2020-09-21 11:07] Lightras commented on #2715
I've had [an issue](https://github.com/simonbengtsson/jsPDF-AutoTable/issues/715) with autoTable produced by the breaking changes, and they've fixed very quick.

By the way, should this one issue still be open?

[2020-09-21 11:25] HackbrettXXX commented on #2715
I think we can close it,

[2020-09-21 11:25] #2715 closed

[2020-09-21 14:41] whjvenyl opened #2920 "Add fonts with different font-weights"
Cross-Link to original issue #199.

Request to extend the 'addFont' with an additional parameter for font-weights. (or even better, replace the 'font-style' definition):

Why:
As of now, there's a missmatch between the possibility to define font-weights and font-styles in css and what's possible in jsPDF. Several popular font-families consist out of several individual fonts, which define their sty

[2020-09-22 03:46] samuraitruong opened #2921 "Issue with custom font - Myriad-Pro-Bold"
I try to add custom font  but it seem doesn't work with all font

I can get Roboto.ttf work but it doesn't work with this font - https://fontsgeek.com/fonts/Myriad-Pro-Bold

Got below error
[code]

Here is the code I added all the front

[code]

Do we have the list or the requirements for the custom font support?

I already try fontconverter provided in other issue and compare base64 are same

[2020-09-22 05:20] #2912 closed

[2020-09-22 07:48] HackbrettXXX commented on #2921
jsPDF supports only a subset of ttf fonts. Maybe its something similar as this: https://github.com/MrRio/jsPDF/issues/2710#issuecomment-607725616?

[2020-09-22 10:36] noobling opened #2922 "List elements don't get converted correctly from using html function"
When using `ul` element and calling `.html()` function to convert that into a pdf it fails refer to the screenshot.

![image](https://user-images.githubusercontent.com/23206864/93872119-435aaf80-fd02-11ea-8b19-b1030fab87a1.png)

Browser: Chrome Version 85.0.4183.121 (Official Build) (64-bit)

Here is example code to repro:
[code]

[2020-09-22 10:53] chenxu7601257 opened #2923 "URGENT!! - Exporting function does not work well on IE browser"
**[Urgent!!]**

When we use this component to export PDF in IE browser, it doesn't work well as the right part is black, however exporting PNG works well under the same IE browser environment. We're confused and did lots of searching and investigation, but it doesn't help us out. Hope you guys could help on this.

Could it be a limitation of the IE version? How to solve this problem.  Thank you so

[2020-09-22 12:13] stijnvanderlaan commented on #762
Same issue still available on 2.1.1

[2020-09-22 23:22] samuraitruong commented on #2921
@HackbrettXXX Not very sure about that because when I use `Myriad Pro-Regular.ttf` it also gives me the same error

[2020-09-22 23:39] samuraitruong commented on #1727
@moneyeyedan  If it works on local you can but not work on was, have you check if you upload the font file to host machine, also the file path maybe not correct , make sure you use path.resolve to absolute path

[2020-09-23 00:39] noobling commented on #2911
Heres code snippet that only outputs to one page.

[code]

[2020-09-23 01:36] #2586 closed

[2020-09-23 05:04] noobling commented on #2923
Have you tried other browsers to determine if its an issue specific to IE? And have you read this part of the docs?
![image](https://user-images.githubusercontent.com/23206864/93968913-4bb3f880-fd9d-11ea-85e9-6fbef879ee6a.png)

[2020-09-23 10:50] chenxu7601257 commented on #2923
**Thanks for your reply.
We checked with other browsers like Chrome, it is working well, it doesn't work in IE only. We tried to import Polyfills, the error is still there, not fixing the exporting issue.  Can help us out on this headache issue?**

![image](https://user-images.githubusercontent.com/19574070/94003092-600fe980-fdcd-11ea-800e-01b7299674fc.png)

![image](https://user-images.githubuser

[2020-09-23 13:31] HennDev commented on #2911
Thanks, I'll give it a shot!

[2020-09-23 14:43] HackbrettXXX commented on #2911
Note that this will render the HTML as _image_ and not as text/vector graphics.

[2020-09-23 15:04] HackbrettXXX commented on #2921
Your code seems to be correct, so I assume it's either a bug in jsPDF or jsPDF simply does not support such kinds of fonts.

For some reason [GlyfTable.parse](https://github.com/MrRio/jsPDF/blob/master/src/libs/ttffont.js#L1465) is not called. Probably because `info` is undefined here: https://github.com/MrRio/jsPDF/blob/master/src/libs/ttffont.js#L488. Someone should investigate this.

[2020-09-23 15:08] HackbrettXXX commented on #2922
Seems like html2canvas uses Unicode symbols for the bullets that are not in the ASCII range. You need to add a custom font for this.

[2020-09-23 15:22] HackbrettXXX opened #2924 "html: margins have no effect"
The [documentation](http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html#~html) and [code](https://github.com/MrRio/jsPDF/blob/master/src/modules/html.js#L972) suggest that the user can set page margins in the `html` method, but they have no effect. The margin options seem to get lost somewhere.

[2020-09-23 15:27] HackbrettXXX opened #2925 "html: add width option"
Currently, there is no easy way to specify the desired width of the html in the PDF. The width can only be specified indirectly over `html2canvas`' `scale` option. It would be very convenient, if we could simply supply a width (in PDF units) to the html method.

[2020-09-23 15:28] HennDev commented on #2911
Is there a better solution to use text/vectors? [Something similar to the referenced commit earlier?](https://github.com/MrRio/jsPDF/pull/2917)

Been trying to utilize .html() and properly scaling but haven't quite been able to get it down.

[2020-09-23 15:32] HackbrettXXX opened #2926 "html: return last y (and x) position where html content ends"
The old `fromHTML` method returned the last `x/y` coordinates where the html content ends. The new `html` method does not support this, yet. This is a very nice feature, especially, when the html is only part of the document and you want to add additional content below the html.

[2020-09-23 15:34] HackbrettXXX commented on #2852
@Lightras I created three separate issues for this: #2924, #2925, #2926.

[2020-09-23 15:36] HackbrettXXX commented on #2852
@nakhodkin I think in most use cases the user _wants_ the styling to be applied in the pdf, as well. What you can do is wrap your html with a `div` that "resets" all styling. I'm closing this, since this IMHO is not an issue of jsPDF.

[2020-09-23 15:36] #2852 closed

[2020-09-23 15:44] HackbrettXXX commented on #2699
Closing this in favor of #2925.

[2020-09-23 15:46] HackbrettXXX commented on #2909
This seems to be an issue where html2canvas assumes the wrong width. Closing this in favor of #2925.

[2020-09-23 15:46] #2909 closed

[2020-09-23 15:51] HackbrettXXX commented on #2911
Currently, I think you can only try to set the scale appropriately. I created an issue to add a `width` option to the html method: #2925. Closing this, but you can still use this for discussing.

[2020-09-23 15:51] #2911 closed

[2020-09-23 15:57] HackbrettXXX commented on #2916
Can't reproduce. This code aligns the text exactly at the line:
[code]
Note, that the anchor point is also right when setting align to "right".
[align-right.pdf](https://github.com/MrRio/jsPDF/files/5269380/align-right.pdf)

[2020-09-23 16:01] HackbrettXXX commented on #2904
Sorry for the delayed response. If you're importing pako from node_modules, you probably need to add the `resolve` and `commonjs` plugins to the rollup config (like in the `umdPolyfills` entry). If this is not the issue I need a more detailed description of what goes wrong ;)

[2020-09-23 16:02] HackbrettXXX commented on #2907
Closing in favor of #2925.

[2020-09-23 16:02] #2907 closed

[2020-09-23 16:03] HackbrettXXX commented on #1176
#2924

[2020-09-23 16:04] HackbrettXXX commented on #2295
@bytrangle #2924.

[2020-09-23 16:14] noobling commented on #2923
I probably won't be much help but I would step through your code with a debugger to see if it is behaving as expected. But looks like a bug with a library or IE.

[2020-09-23 21:01] Tobbe opened #2927 "`doc.internal.pageSize.getWidth()` doesn't match measured value"
[code]

You can run the above code here: https://jsfiddle.net/6htnzja8/1/

Running the example code and looking in the console jsPDF says the page width is 446.46 pixels. If I take a screenshot of the generated PDF and measure the size it's actually 793 pixels wide.

I think the value reported by jsPDF is wrong. Is it, or am I misunderstanding something?

[2020-09-23 23:43] samuraitruong commented on #2921
@HackbrettXXX I think it is some problem with the variable of that fonts, I try with the same font name, but get the font from other source and it works for me now

If that something can be resolveable then it will good to fix, otherwise we need to learn which type of font supported and document it

This is the same font but work for me - https://github.com/celsodantas/wak/blob/master/app/assets/s

[2020-09-24 02:49] noobling commented on #2922
So if I understand correctly we need custom fonts to use `html()`. I assume it was working at some point maybe we can choose a specific version of html2canvas?

[2020-09-24 07:43] HackbrettXXX commented on #2922
I haven't looked into details, but judging from the image, it's true that you need a custom font for the bullets. You can try using a different version of html2canvas. Could you maybe search through the sources of html2canvas and verify my theory?

[2020-09-24 07:46] HackbrettXXX commented on #2921
Yeah, I think it's the way the font is encoded. You can encode the same font in multiple ways in the ttf format.

[2020-09-24 07:49] HackbrettXXX commented on #2927
`getWidth` returns this:

[code]

[2020-09-24 07:51] Tobbe commented on #2927
![image](https://user-images.githubusercontent.com/30793/94116587-883e2d80-fe4b-11ea-8fcd-157d892a1e35.png)

Did you mean to post some code?

[2020-09-24 07:56] markotaht commented on #2904
So i did npm install pako. Next i created a file under libs called pako.js with content
[code]

Now im importing it by` import { pako } from '../libs/pako.js';`
I didnt know hwere exactly to but the pako so  ```
"peerDependencies": {
    "pako": "^1.0.11"
  },
[code]

[2020-09-24 08:02] Tobbe commented on #2927
Digging in to the code I found this

[code]

I don't think this simplistic approach works 🙁 The amount of pixels needed to represent an inch (or pt for that matter) is going to depend on the monitor PPI

[2020-09-24 08:03] HackbrettXXX commented on #2927
Yeah, accidentally hit "comment" there..., it's fixed, now.

[2020-09-24 08:06] Tobbe commented on #2927
I have a related question up on StackOverflow: https://stackoverflow.com/questions/64035751/how-do-i-properly-set-the-image-size-in-jspdf-so-that-the-image-isnt-blurry

[2020-09-24 08:07] HackbrettXXX commented on #2927
By `px` we mean "css pixels", which are fixed to `1px = 1/96in`. See also my [comment](https://github.com/MrRio/jsPDF/issues/2781#issuecomment-648060887).

[2020-09-24 08:14] HackbrettXXX commented on #2904
Just change the `plugins` config in `rollup.config.js` to this for the umd, node, and es entry points.
[code]

[2020-09-24 08:19] Tobbe commented on #2927
Creating an "a4" pdf with "pt" size the width is 595.28. Taking a screenshot (at 100% zoom) on my display (Dell XPS 9550, 1920x1080) the page is 793 px. So here the scale factor is ~1.33. But creating an "a4" pdf with "px" size the size is reported as 446.46, implying that the scale factor is ~0.75.

So probably related to this: `if (hasHotfix("px_scaling") == true) {`

What is that hotfix thing?

[2020-09-24 08:23] Tobbe commented on #2927
Aha! found this https://github.com/MrRio/jsPDF/blob/dda2b60b916aacbd81ef6c6205b336a7cefe566e/HOTFIX_README.md#px_scaling

[2020-09-24 08:39] Tobbe commented on #2927
Enabling the `px_scaling` hotfix makes it work as it's supposed to 👍

[2020-09-24 08:39] #2927 closed

[2020-09-24 08:49] HackbrettXXX commented on #2927
Yeah, for myself and for future reference, I did the math once again:
[code]
Which means we have to multiply each pixel by `72/96` to get `pt`. So the scaleFactor of `72/96` is correct and one has to enable the hotfix in order to get the correct scaling for pixels. We should really document that the hotfix is required for the `px` unit and make this the default with the next major release.

Thanks

[2020-09-24 09:28] hmajid2301 commented on #2925
I can pick this up!

[2020-09-24 09:52] HackbrettXXX opened #2930 "Modernize Source Code Examples"
JsPDF has a lot of [code examples](https://github.com/MrRio/jsPDF/tree/master/examples) that haven't been looked at for quite some time and some of them are outdated.

Have a look at the examples and modernize them:
- Use recent ES6 code
- Add one or two TypeScript examples
- Use jsPDF@2.x.x API
- delete unused files
- delete the examples/css folder and load required CSS libraries from a CDN
- del

[2020-09-24 10:02] HackbrettXXX opened #2931 "General Documentation Improvements"
The [documentation](http://raw.githack.com/MrRio/jsPDF/master/docs/) of jsPDF is not very good. Many methods, classes, and parameters are badly documented or not at all.

- Move all JSDoc comments to the [typings file](https://github.com/MrRio/jsPDF/blob/master/types/index.d.ts). This will improve the quality of the typings significantly, because IDEs can then display documentation inline. Change

[2020-09-24 10:23] HackbrettXXX commented on #2924
Some afterthoughts: The behavior between margins and the `x/y` and `width` (#2925) options is not immediately clear. I suggest the following:

* on the first page (the current page when `html` is called), the start `actualX` (`actualY`) is the maximum of the `x` (`y`) value and the `left` (`top`) margin
* on subsequent pages, the starting `y` coordinate should be the `top` margin. The `x` coordina

[2020-09-24 10:25] HackbrettXXX commented on #2925
@hmajid2301 that would be really great!

One thought: the default value should be the width of the current page.

[2020-09-24 10:32] HackbrettXXX commented on #2756
So we can close this?

[2020-09-24 10:34] #2672 closed

[2020-09-24 10:37] #2462 closed

[2020-09-24 10:40] HackbrettXXX commented on #2813
The font converter can now output es6 format, as well.

[2020-09-24 10:40] #2813 closed

[2020-09-24 10:41] HackbrettXXX commented on #2782
Duplicate of #2882.

[2020-09-24 10:41] #2782 closed

[2020-09-24 10:42] HackbrettXXX commented on #2618
Closing this in favor of #2926.

[2020-09-24 10:42] #2618 closed

[2020-09-24 11:36] HackbrettXXX commented on #2857
jsPDF cannot modify existing PDFs.

[2020-09-24 11:36] #2857 closed

[2020-09-24 11:39] HackbrettXXX commented on #2891
Then we should probably change it such that it works ;)

[2020-09-24 12:18] mariusheine commented on #2882
We need PDF/A support as well in our company GEPROG GmbH.

Maybe a good reference of how it can be implemented is the PHP TCPDF project https://github.com/tecnickcom/tcpdf.
There they have this flag `$this->pdfa_mode` in there `tcpdf.php` file.

[2020-09-24 13:32] markotaht commented on #2904
Ok build does not give errors. Any good way to test if the built version works?
Also i dint touch the PNG part. There is some weird logic that i dont understand. Seems like some length is added twice
[code]

[2020-09-24 14:14] HackbrettXXX commented on #2904
Well, create some PDFs with compression on and see if they open fine in the OSX PDF preview. You should probably also test PDFs with some binary data such as images or fonts.

[2020-09-24 16:25] Tobbe opened #2932 "A line isn't actually `getLineHeight()` high"
When inserting an array of strings with `text()` I'm expecting each line to be `getLineHeight()` high (or `getFontSize() * getLineHeightFactor()`). But it appears it's actually higher than that.

Look at this for example

[code]

I was expecting the second block of text to start just below the first block, but they're actually rendered with a bit of an overlap.

![image](https://user-images.github

[2020-09-24 16:36] Tobbe commented on #2932
Okay, so `setFontSize()` sets the font size in `pt` units. And so, `getLineHeight()` is also always in `pt` units.

When using `px` units we can work around this by multiplying by 96/72. The relevant line in the example above would then look like this

[code]

I think this should be fixed by making `setFontSize()` use the same unit as the pdf document uses

[2020-09-25 07:51] HackbrettXXX commented on #2932
Yeah, that has lead to a lot of confusion and I agree with you that font size should use the document unit. However, this is a breaking change, which is why we need to wait for the next major version in order to change this. We could maybe introduce a hotfix.

Closing this, since it is not really a bug. But we can still use this for discussion.

[2020-09-25 07:51] #2932 closed

[2020-09-25 10:33] SoldierCorp commented on #2930
Hi,

I would like to help, can you assign it to me please?

[2020-09-25 12:47] HackbrettXXX commented on #2930
Sure. Thanks!

[2020-09-25 19:00] TopDeveloperwebdev commented on #2924
.html is much better than addHtml, fromHtml, etc.
I installed jspdf@2.1.1 for .html use.
Please let me know why the margin is not working in .html.
I want to use this method urgently.

[2020-09-26 11:32] nandakumardtc opened #2934 "While adding currency symbol to the pdf it is changed to unicode like "þÿ ¹""
While adding a currency simple to pdf using jsPDF will displayed like þÿ ¹ in the generated pdf

[code]

Expected output : pdf with a text ₹50,00,00
but actual output is þÿ ¹50,00,00
jsPDF version 2.1.1

[2020-09-27 16:48] viplavsoni commented on #2934
Same issue with me

[2020-09-28 08:46] markotaht commented on #2904
Seems to work fine. But new issue, but harder one. I have a link in the PDF. Visually looks fine, but when clicked on in OSX preveiw # gets replaced with %23. Any ideas?

[2020-09-28 09:25] mmdag commented on #1954
solution : setFont("verdana"), footer add before page number
note : JSPDF has Verdana

var str = 'Page ' + doc.internal.getNumberOfPages()
// Total page number plugin only available in jspdf v1.0+
 if (typeof doc.putTotalPages === 'function') {
     str = str + ' of ' + totalPagesExp
 }

 var pageSize = doc.internal.pageSize

 doc.setFont("verdana");
 doc.text(str, data.settings.margin.left, pageH

[2020-09-28 09:51] OumarBa-Bows commented on #434
![github dsds](https://user-images.githubusercontent.com/58187355/94417792-d0798a80-0180-11eb-9d47-14f1f2b32d4d.PNG)

[2020-09-28 09:57] OumarBa-Bows commented on #434
Can someone help me please, I try to generate a pdf multipage using jspdf on angular. I tried your solutions but it still doesn't work.
Here is the photo of the page

![github dsds](https://user-images.githubusercontent.com/58187355/94417955-07e83700-0181-11eb-960b-2ba4d01b3127.PNG)

[2020-09-29 00:33] hmajid2301 commented on #2925
Sorry I'm afraid I won't be able to pick this up any more.

Thanks

[2020-09-29 01:38] #2781 closed

[2020-09-29 01:53] JeanCarlosChavarriaHughes commented on #2790
@ckudikala-eprosoft hello. Could you please update the issue with the required Information?

[2020-09-29 18:17] TopDeveloperwebdev commented on #2924
I installed jspdf@2.1.1 for .html use.
Please let me know why the margin is not working in .html.
I want to use this method urgently.

[2020-09-29 20:35] MUYUM opened #2935 "New feature: Ellipse rotation"
Hi

For one project I need to rotate ellipse. This is currently not supported by jsPDF, therefore I invested some time to extend the code.

It's my first time contributing to jsPDF, therefore I haven't pushed anything to GitHub. It's better if "admin" does it and I will check the changes later.

Current code in jsPDF:

[code]
Extended code (ellipse is rotated):

[code]
Can you please update jsPDF

[2020-09-30 09:27] jaq-czaplin commented on #2924
Same problem. Margins in html method has no effect :(
Also width and height of html2canvas options does not seam to make any difference eather...
I'm using version 2.1.1.

[2020-10-01 00:08] JoakFlores commented on #1658
Hello, I'm working with cordoba/FrameWork 7 (PWA) , Chrome & Safari mobile browser.

Oks, first I have to show in window the PDF file correct?, to do this I have to use the syntax gPdf.output , correct? I tried with some parameteres and none works, doesen't show the PDF file content, could you help me please? ....

With gPdf.save("prueba.pdf")   This is my PDF file data
![cedulapdf](https://user-i

[2020-10-01 01:42] #2754 closed

[2020-10-01 05:53] fadhilsaheer commented on #490
let div = document.getElementById('photo');

    html2canvas(div).then(
        function (canvas) {
            /*var scrn = document.getElementById('output').appendChild(canvas);

            var pdfHeight = 1122;

            imgData = canvas.toDataURL("image/png");

            var doc = new jsPDF('p', 'pt', 'a3');
            doc.addImage(imgData, 'PNG', 10, 10);

            function pdf(){

[2020-10-01 07:14] RoXuS opened #2936 "Rollup build cause unexpected error with the last version of jspdf"
Since we use the last version of jspdf we can't run any build on our app, we get the following error:

![image](https://user-images.githubusercontent.com/3296671/94778765-1ecb9b00-03c6-11eb-9cd9-9fc5c13f9b62.png)

We use it as import `import { jsPDF } from 'jspdf';`.

[2020-10-01 17:11] ncioj10 commented on #2759
@funnykanth Hey, do you by chance have solved the problem and have some code you could share on this?

[2020-10-02 15:57] KamranMaqbool opened #2937 "Line Break: every space between words of single one line then next word going to a new line automatically"
In My Nuxt JS project using jsPdf() package
Version :     "jspdf": "^2.1.1",
I want to download the pdf from HTML string

**Issue**
downloaded pdf fine. but the issue is when space comes in a single line then the next word going to the next line

**Code**
 `async downloadPdf()  {

      var self = this;
      const doc = new jsPDF('p', 'pt','a4',true)
      if (process.browser) {
        doc.html(

[2020-10-02 16:23] Dexagod opened #2938 "textWithLink does not align link box correctly with align: 'center' option"
**versions**
 jspdf: "^2.1.1"
 node: v12.18.0
  want to download the pdf from HTML string

**Issue**
textWithLink function does not align link box when using align: 'center' option.

**Code example**
[code]

**Image showing link box**
![2020-10-02-182103_1719x689_scrot](https://user-images.githubusercontent.com/10371150/94946091-eb7b3000-04db-11eb-9a2b-69eefaf82b05.png)

**generated pdf file**
[te

[2020-10-02 17:16] LogisticaSM opened #2939 "I have been unable to get it to work on Joomla"
Hey!
I've been unable to get it to work on Joomla.
I'm getting lots of different errors and I was unable to find anything in the documentation or google.

I have put the script in the index.php file of the entire website, I made sure it runs, it is, it appears in the source code.

However when I try to call it in a html document I always get "jsPDF is not defined".

So I added a statement to impor

[2020-10-02 23:37] TeijiW commented on #2248
Thank you so so much for this solution, you save my weekend.

[2020-10-03 04:28] SoldierCorp commented on #2930
Hi @HackbrettXXX

Before I submit my PR, could you please read the Update for the event please https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-03 12:31] rahil1304 commented on #2801
Hey
I would love to work on this issue. Could you please provide some more information on it?

[2020-10-03 19:42] JoakFlores commented on #2737
Hi Marco .... I'm confused about each params about output() function, I want to show the PDF file and then print PDF file (ticket), Could you help me, please?

[2020-10-03 19:54] ARKEOLOGIST commented on #2931
Hi, can I have this assigned to me?

[2020-10-03 20:35] JoakFlores opened #2940 "I can't find the solution about output function"
Hello, I'm working with FrameWork 7/JavaScript/Html/CSS  (PWA) , Chrome & Safari mobile browser, in fact, this it's my first app, I'm a newbie developer, working with 1.3.2 version

I have spent time observing the "Issues" about printing the PDF file, I have to print the ticket 3" to Zebra iMZ320.

Oks, first I have to show in the window the PDF file correct?, to do this I have to use the syntax g

[2020-10-04 01:23] josen11 commented on #1409
Hi,thanks for workaround @BenTMatthews  recently I found a great solution:

![image](https://user-images.githubusercontent.com/13191252/95004796-9d3a5f80-05b5-11eb-98b0-93ead7c057f1.png)

Im using CSS letter-spacing property in HTML and put in the code of jspdf
![image](https://user-images.githubusercontent.com/13191252/95004807-c6f38680-05b5-11eb-87b4-d05912fbbfa6.png)

Result
![image](https://us

[2020-10-04 01:26] helpsdev commented on #2925
Hi there, I'm a first-time contributor, any chance I can work on this?

[2020-10-04 05:37] kraravind167 opened #2941 "PDF Output exactly as window.print() gives?"
How can jsPDF be used to create pdf of output, 'exactly' as window.print() command gives out?

Is there any way to acheive above?

[2020-10-04 08:57] staghouse commented on #2924
Make sure you are avoiding collapasing margins. For example margin-bottom on one element, and margin-top on an element below it will collapse inward to the element NOT to the margins

[2020-10-04 13:08] listopadiya commented on #2921
I can take a look at this issue :)

[2020-10-04 16:37] listopadiya commented on #2921
After small investigation I would say that this is font-related problem. Despite the fact that font https://fontsgeek.com/fonts/Myriad-Pro-Bold has TTF type in description, as I understand it is not TrueType font in the end (probably it should have `OTF` type there), this can also be seen in working- and non-working-font descriptions in Windows (TrueType outlines for working font vs. PostScript Ou

[2020-10-04 16:57] listopadiya commented on #2891
I can check this one, if you don’t mind.

[2020-10-04 20:32] rubiin commented on #2925
can i take this?

[2020-10-05 08:53] HackbrettXXX commented on #2877
2.1.1 works again. Closing this...

[2020-10-05 08:53] #2877 closed

[2020-10-05 08:56] #2934 closed

[2020-10-05 09:01] HackbrettXXX commented on #2904
"%23" is "#" URI encoded, so this is correct. If you open the link in a browser it should work. Or is the issue that the # that separates URI fragments is encoded, as well? Then it's probably an issue of `encodeURI` vs. `encodeURIComponent`.

[2020-10-05 09:01] markotaht commented on #2904
Nevermind # to %23 is a macOS issue.

Anyways... i think im done... how do i push it up or something? I cant push as i get acces denied :D.

[2020-10-05 09:05] HackbrettXXX commented on #2925
@helpsdev you can try ;) I'm assigning you for now.

@rubiin Maybe you can collaborate?

[2020-10-05 09:18] HackbrettXXX commented on #2935
You can easily rotate an ellipse by setting a transformation matrix:
[code]
You might need to switch to advanced API mode, first:
[code]

[2020-10-05 09:19] HackbrettXXX commented on #2690
Maybe related to #2923?

[2020-10-05 09:21] HackbrettXXX commented on #2792
`fromHTML` is deprecated. Use `html` instead.

[2020-10-05 09:21] #2792 closed

[2020-10-05 09:23] HackbrettXXX commented on #2936
This looks like your canvg installation is corrupted. Could you try removing the `node_modules` folder and running `npm install` again?

[2020-10-05 09:24] HackbrettXXX commented on #2693
Was fixed with 2.x.x

[2020-10-05 09:24] #2693 closed

[2020-10-05 09:27] HackbrettXXX commented on #2697
Should be fixed with 2.x.x. The node version does not reference window anymore.

[2020-10-05 09:27] #2697 closed

[2020-10-05 09:28] HackbrettXXX commented on #2937
Seems related to #2925.

[2020-10-05 09:30] HackbrettXXX commented on #2939
Seems more like a general question how to import JS libraries in Joomla.

[2020-10-05 09:30] #2939 closed

[2020-10-05 09:32] HackbrettXXX commented on #2248
@TeijiW jsPDF@2.x.x supports nodejs out of the box. No need for any workarounds.

[2020-10-05 09:44] HackbrettXXX commented on #2930
@SoldierCorp Thanks for notifying us. Unfortunately, I don't have the permissions to add the Hacktoberfest topic to the repo but I've already reached out to @MrRio. Stay tuned.

[2020-10-05 09:50] HackbrettXXX commented on #2801
Thanks! What additional information do you need exactly?

[2020-10-05 09:51] HackbrettXXX commented on #2931
Sure. Thanks!

[2020-10-05 09:56] HackbrettXXX commented on #2941
Well, you can try the `html` method. But this will probably only produce similar output not *exactly* the same.

[2020-10-05 09:58] listopadiya commented on #2930
Looks like it is already added:
<img src="https://user-images.githubusercontent.com/5957177/95065420-b3f1cb00-0709-11eb-95c8-ff948ddad705.png" width="300">

[2020-10-05 10:02] HackbrettXXX commented on #2276
Bonus: Also add support for CFF glyph outline data (#2921).

[2020-10-05 10:03] HackbrettXXX commented on #2921
@listopadiya Thanks for the investigation. OTF fonts are not supported, but there is an open feature request: #2276. I added a comment about the CFF tables. I think we can close this now.

[2020-10-05 10:03] #2921 closed

[2020-10-05 10:11] HackbrettXXX commented on #2801
@rahil1304 I just realized that @MarceloZapatta already made a PR, sorry about that.

[2020-10-05 10:12] HackbrettXXX commented on #2605
With 2.x.x jsPDF runs in webworkers, as well.

[2020-10-05 10:12] #2605 closed

[2020-10-05 10:14] HackbrettXXX commented on #2802
You need to add the font before the call to `html` and actually use the font in the html markup (e.g. by wrapping the markup with a div with the respective font-family css property).

[2020-10-05 10:14] #2802 closed

[2020-10-05 10:16] HackbrettXXX commented on #2904
You need to fork the repo, then create a pull request.

[2020-10-05 10:18] HackbrettXXX commented on #2930
Ah, my bad, didn't check it myself :D

[2020-10-05 10:37] markotaht commented on #2904
Should be ok. But this is my first fork ever :D so please check if i did everything correctly :D

[2020-10-05 11:41] RoXuS commented on #2936
I got this on my CI from scratch (no node_modules folder)

[2020-10-05 14:19] MUYUM commented on #2935
Ok, thanks. I was not aware of this feature.

Best regards

[2020-10-05 14:29] prashanth-sams commented on #253
@gmardon you're right; small hack needed for the latest versions if you call from cdn

[code]

[2020-10-05 15:11] #2935 closed

[2020-10-05 15:27] swarup-bhol opened #2945 "addHTML() and fromHTML() is not populating in angular version >8"
addHTMl() and fromHTML() is not populating on angular vesion > 8

[2020-10-05 16:10] ncioj10 commented on #2945
Same problem here in React

[2020-10-05 16:40] swarup-bhol commented on #2945
Yeah I solve the problem, instead of using addHTML() , you can use directly use html() a callback function.
e.g
`var doc = new jsPDF();

doc.html(document.body, {
   callback: function (doc) {
     doc.save();
   }
});`

[2020-10-05 16:45] MicheleMarschner commented on #2938
I'll try to fix it.

[2020-10-05 22:09] ncioj10 commented on #2924
@HackbrettXXX  Yes I think that may be very useful, I currently have a letter generation use case and am dearly missing this feature.

[2020-10-06 07:46] HackbrettXXX commented on #2936
Could you try if the same happens if you import canvg directly (and temporarily remove the jsPDF import)?

[2020-10-06 07:49] HackbrettXXX commented on #2945
`addHTML` and `fromHTML` were replaced with `html` in 2.x. The typings still contain them, but this is a bug we will fix with the next version.

[2020-10-06 07:49] #2945 closed

[2020-10-06 07:51] HackbrettXXX commented on #2938
Thanks :)

[2020-10-06 08:36] #2894 closed

[2020-10-06 12:11] kevinborg opened #2947 "html plugin ignoring array margins"
[code]

![image](https://user-images.githubusercontent.com/16855972/95199851-c5a4a280-07dd-11eb-9f9f-359ec9d74fed.png)

[2020-10-06 12:48] HackbrettXXX commented on #2947
Duplicate of #2924.

[2020-10-06 12:48] #2947 closed

[2020-10-06 13:08] kevinborg commented on #2924
Ok so has there been anyone who managed to solve this ? yes @HackbrettXXX  my issue was a duplicate. I am setting margin with an array of random numbers but this has no effect on the printed pdf. I am using  using the latest version of jsPdf and setting of margins does not work. v2.1.1 seems like it is very limited to customizability using the html() plugin compared to the previous versions of jsP

[2020-10-06 13:15] RoXuS commented on #2936
Yeah, same error with `    "canvg": "3.0.6",`!

[2020-10-06 21:03] azozello commented on #2920
Hi, I would like to help with this issue, could you please assign it to me?

[2020-10-07 01:25] hendyghsta commented on #2938
I try to _'Align: Right'_ not working. always follow **params: x**

ex:
`doc.text('Simple for align Right Text', 5 , 33, {align: 'right'});`

how fix is jsPDF 2.1.1

[2020-10-07 01:44] #2790 closed

[2020-10-07 03:49] laudaikinhdi opened #2949 "Export pdf with css"
I want to export pdf by css without using image to I can copy text in pdf.

Help me!!!!
Thanks all

![image](https://user-images.githubusercontent.com/34116228/95285172-55a02600-088a-11eb-9944-3804443eb47b.png)

[2020-10-07 06:25] rameshlekkala commented on #2059
@mellisa0109 I am also facing the same issue,
can you please provide the details how you resolved it?

[2020-10-07 07:53] HackbrettXXX commented on #2936
Do you use the `commonjs` plugin in your rollup config? The babel `slicedToArray` file uses commonjs exports which rollup cannot handle out of the box.

[2020-10-07 07:55] HackbrettXXX commented on #2920
Sure, thanks :) Make sure to make the new API backwards compatible.

[2020-10-07 07:59] #2719 closed

[2020-10-07 09:52] RoXuS commented on #2936
No, all our app and dependencies are ESM, we don't have any commonjs exports!

[2020-10-07 10:30] kevinborg commented on #2924
Please can someone guide me on this ? I desperately need tis margin feature !!

[2020-10-07 10:39] HackbrettXXX commented on #2936
Yes, but the @babel/runtime, which is a dependency of canvg, has commonjs exports. So you need to use the commonjs plugin.

[2020-10-07 10:42] HackbrettXXX commented on #2924
@kevinborg If you need the margins right now, you need to downgrade back to 1.5.3 and use from/addHTML.

If it can wait, you may wait for this issue to be resolved. You may also prepare a pull request yourself if it is urgent.

[2020-10-07 12:17] kevinborg commented on #2924
@HackbrettXXX I have downgraded to 1.5.3 but this causes a problem were the downloading a pdf does not work and i am unable to debug this because no console error is thrown. I have installed html2canvas separately and using addHTML method as shown below
[code]
am I doing something wrong or missing something here ? Also do i need to install a specific version of html2canvas ?

[2020-10-07 12:31] KamranMaqbool commented on #2925
@HackbrettXXX any updates about this issue?

[2020-10-07 12:36] RoXuS commented on #2936
ok ok we can't add commonjs to our rollup but we can wait an esm version of @babel/runtime... Thx!

[2020-10-07 12:36] #2936 closed

[2020-10-07 14:56] HackbrettXXX commented on #2925
@KamranMaqbool ask the two assignees ;)

[2020-10-07 18:29] JoakFlores opened #2950 "Permission problem, question..."
Hi, on my app (PWA) I have gotten this message when I want to show the pdf file ( pdfile.output('datauristring') )

`Refused to load plugin data from 'data:application/pdf;base64,JVBERi0xLjMKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291cmNlcyAyIDAgUgovTWVkaWFCb3ggWzAgMCAyMTUuNDMgMzExLjgxXQovQ29udGVudHMgNCAwIFIKPj4KZW5kb2JqCjQgMCBvYmoKPDwvTGVuZ3RoIDQ2OTY+PgpzdHJlYW0KMC41NyB3CjAgRwpCVAovR

[2020-10-07 19:13] alltobill opened #2951 "Question about to integrate ACF Fields from Wordpress in the PDF"
Hello jsPDF

I really appreciate your work.
I am trying to create a plugin for my website to create PDF for my customers with the jsPDF.
Everything is now working, but i want to add in the PDF some ACF.

I was trying to setup it with input fields and linked in to the acffields.
What is going wrong? Thank you in Advance for your reply

/* global jsPDF */
function demoTwoPageDocument() {
  var doc =

[2020-10-07 19:23] mcarpinter commented on #2939
I am having the same issue. I would like to know if someone could add the script on joomla.
I used: <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js"></script> before the head tag, but everytime is returning Uncaught ReferenceError: jsPDF is not defined

[2020-10-07 19:24] LogisticaSM commented on #2939
Haven't found a way to make it work yet

[2020-10-08 05:26] bjornhansen commented on #2924
I'd also like to use margins with the `.html()` method. It's fantastic, but when I have an element too tall to display on one page, the split happens exactly at the page edge -- not good for printing.

Are there plans to fix this or update the documentation?

[2020-10-08 07:53] HackbrettXXX commented on #2950
Well, as the error message says, you're not allowed to set data uris as object src attribute. Either remove the `object-src 'self' blob:` rule or output the PDF as blob: `pdffile.output('blob')`

[2020-10-08 07:56] HackbrettXXX commented on #2924
We will fix this as soon as someone from the community provides a pull request. I personally don't have time for this currently.

[2020-10-08 14:19] bikoocto opened #2952 "Showing addhtml and fromHtml are not a function in TypeScript.(Angular 8)"
Feature requests, bug reports etc. are very welcome as issues. But questions are directed to stackoverflow with the tag `jspdf`.

If you are facing issues with utf-8 characters, please refer to [#2677](https://github.com/MrRio/jsPDF/issues/2677).

Note that bug reports should follow these guidelines:

1. A bug should be reported as an [mcve](https://stackoverflow.com/help/mcve)
2. Make sure code i

[2020-10-08 14:20] HackbrettXXX commented on #2939
The global variable has changed to `jspdf` (all lowercase). The jsPDF constructor is available under `window.jspdf.jsPDF`.

[2020-10-08 14:22] HackbrettXXX commented on #2951
Sorry if that's supposed to be common knowledge, but what are "ACF fields"?

[2020-10-08 14:24] HackbrettXXX commented on #2952
Duplicate of #2945. I guess I shouldn't have closed the other issue...

[2020-10-08 14:26] mcarpinter commented on #2939
Thanks for the Help!

[2020-10-08 14:56] JoakFlores commented on #2950
Hi Hackbrett, thanks four you reply.

If I use output as blob, how can I show it?
`var a = gPdf.output('blob');`
`'<img src="data:image/png;base64, '+a+'"/>'`

[2020-10-08 15:15] HackbrettXXX commented on #2950
Seems like you're generating the html and PDF on the server, right?

If that's the case you either need to remove the `object-src 'self' blob` rule or serve the PDF as file and load it via the `src` or `data` attribute of an `iframe`/`object`. Note that you cannot use an `img` for PDFs. The best way is usually an `iframe`.

In order to display a blob in an iframe you need to do something like this

[2020-10-08 15:15] #2950 closed

[2020-10-08 20:41] prathviraj080 commented on #2728
Looks like this is fixed already

[2020-10-09 00:26] cswkim opened #2953 "iOS file save in a new window outputs 'Unknown.pdf' instead of filename"
This might have already been discussed in a previous issue #697 but I couldn't find a concrete solution. In the latest jsPDF `2.1.1` and latest iOS Safari `14.0.1`, if you call `jsPDF.save('myfilename.pdf')` then the `bloburl` opens in the same page and if you use the native share feature of iOS the PDF is named correctly. But if you do something like: `window.open(jsPDF.output('bloburl', 'myfilen

[2020-10-09 01:45] #2730 closed

[2020-10-09 03:30] dmchale commented on #2951
@HackbrettXXX "Advanced Custom Fields" is a popular plugin for adding custom meta data to post objects in WordPress: https://www.advancedcustomfields.com/

@alltobill I don't think this has anything to do with jsPDF. Your example isn't even using any PHP to render ACF data. I would expect the code you're running to be on a page template and look something more like this ... you probably need to pa

[2020-10-09 06:56] #2863 closed

[2020-10-09 06:57] nirajctl commented on #2863
Closing the issue.

[2020-10-09 07:23] xjchenhao commented on #2780
How to add multiple clip？

[2020-10-10 06:55] rohya8 commented on #2908
For the **footer** as number of page,

[code]
For the **header**, you can write

`pdfObject.text("my header text", 10, 10)`

this will create the header text as my header text in each page position x=10, y=10.

[2020-10-10 10:17] BhavikThakkar opened #2954 "Detecting last page in jspdf"
I need suggestion how to detect last page in Jspsdf

[2020-10-10 13:31] cbermudezroda opened #2955 ".ttf fonts not working with compressed pdf on Safari browser."
Hey everyone!
I'm using the librery for a Angular proyect and it's works fantastic. However, I'm having a weird problem when I try to use embedded fonts and compressed pfd on Safari (only here). The result is a pdf with strange caracters :(
The strange thing is that if the pdf is not compressed, it's works good!

Here some stuffs to get context:
- Installed jsPDF by npm
- Angular 8
- Code use:
[co

[2020-10-12 01:48] #2423 closed

[2020-10-12 08:04] HackbrettXXX commented on #2728
@prathviraj080 are you sure? The PDF I produced with @AldoGz still looks like this:
![image](https://user-images.githubusercontent.com/16103654/95721094-611c9400-0c72-11eb-8ac4-248800c38792.png)

[2020-10-12 08:30] HackbrettXXX commented on #2951
Closing this, because it's not an issue of jsPDF. But you can still use this for discussion.

[2020-10-12 08:30] #2951 closed

[2020-10-12 08:35] HackbrettXXX commented on #2954
What do you mean? You can get the number of pages with `doc.getNumberOfPages()`.

[2020-10-12 08:37] HackbrettXXX commented on #2955
Thanks for the report. Duplicate of #2743. There is already a fix under way: #2944.

[2020-10-12 08:37] #2955 closed

[2020-10-13 01:49] #2690 closed

[2020-10-13 07:53] shirley767758 commented on #2654
<img width="270" alt="1 4 1" src="https://user-images.githubusercontent.com/28947304/95831756-08312680-0d6c-11eb-87f2-75a937a2241e.png">
<img width="265" alt="1 5 3" src="https://user-images.githubusercontent.com/28947304/95831762-09625380-0d6c-11eb-8377-2a36a64f7d0b.png">
The page size of 1.5.3 is not the same as setting in format

[2020-10-13 07:53] #2654 closed

[2020-10-14 13:18] VLRTroll opened #2958 "Extending jsPDF class"
Hey guys!

I'm trying to extend the base jsPDF class to add some new methods in my code, but when I try to use the new methods the console throws an error like this:
![image](https://user-images.githubusercontent.com/55628273/95993994-20ee1a80-0e06-11eb-9524-4f36b28c164e.png)

I'm using this code in a React App and the source code is below:
![image](https://user-images.githubusercontent.com/556282

[2020-10-14 14:42] owenl131 commented on #2750
Hi, I would like to work on this.

[2020-10-14 14:58] HackbrettXXX commented on #2958
You cannot subclass jsPDF due to its architecture. You can add methods to jsPDF like this:

[code]

[2020-10-14 16:06] owenl131 commented on #2750
How shall we write automated testing for this?

[2020-10-15 08:02] HackbrettXXX commented on #2750
Either by creating entire encrypted reference PDFs and comparing with them or testing the output of only some methods, like e.g. [here](https://github.com/MrRio/jsPDF/blob/master/test/specs/jspdf.unit.spec.js). If you haven't read it yet, here is the guide for testing: https://github.com/MrRio/jsPDF/blob/master/CONTRIBUTING.md#building-and-testing-jspdf.

[2020-10-15 13:06] BhavikThakkar commented on #434
HI Did you get any solution for this?

[2020-10-15 13:12] NayanMiyatra opened #2961 "How to add margin between two continuous page of pdf (using html to Canvas method to generate the PDF)"
I'm using Angular with jsPDF plugin..

This is my .ts code to generate the PDF

[code]
This is my Table

![Screenshot (1229)](https://user-images.githubusercontent.com/46615086/96130529-af9d8d00-0f15-11eb-8ba0-c39662ebc523.png)
![Screenshot (1228)](https://user-images.githubusercontent.com/46615086/96130540-b4624100-0f15-11eb-85ec-e050f1e7f5bc.png)

And this is My Generated PDF through htmlToCanva

[2020-10-15 13:37] HackbrettXXX commented on #2961
The margins are buggy ATM. See #2924.

[2020-10-15 13:37] #2961 closed

[2020-10-15 17:30] rogeliohoyos opened #2962 "addImage with image file"
addImage needs image to be present as a html tag on document. Can I add an image from a directory?

[2020-10-15 17:35] rogeliohoyos opened #2963 "Add content to previously existing pdf file"
Is there an option to achieve this?. I need to add images to a previous pdf file on server with images.

[2020-10-15 17:49] night37 commented on #2938
I ll try to :)

[2020-10-16 01:51] #2583 closed

[2020-10-16 01:51] #2541 closed

[2020-10-16 06:45] simonbengtsson commented on #2553
Still relevant

[2020-10-16 08:02] HackbrettXXX commented on #2962
That's not true. E.g. on node you can do this:
[code]

In the browser you can also pass a Uint8Array or a (data) URL.

[2020-10-16 08:02] HackbrettXXX commented on #2963
JsPDF doesn't support editing existing PDF files.

[2020-10-16 08:02] #2963 closed

[2020-10-16 08:04] #2572 closed

[2020-10-16 09:58] Freitas-Mp opened #2965 "addFontType don´t works angular 10 with jspdf V2.1, what is the problems?"
Feature requests, bug reports etc. are very welcome as issues. But questions are directed to stackoverflow with the tag `jspdf`.

If you are facing issues with utf-8 characters, please refer to [#2677](https://github.com/MrRio/jsPDF/issues/2677).

Note that bug reports should follow these guidelines:

1. A bug should be reported as an [mcve](https://stackoverflow.com/help/mcve)
2. Make sure code i

[2020-10-16 10:02] EGBDFACE opened #2966 "addImage with multiple webp pics"
Hey Guys!
I used jdfPDf in a  tool which can convert multiple pictures to a single pdf, where you can see it [here](https://huangrenhao.gitee.io/pic2pdf/). the core principle is as follows:

[code]

i get pic's dimension through `img.onload`, then for every pic i create a new page in pdf with the pic's dimension. after that `addImage` with the pic's file content which is base64 coded string create

[2020-10-16 17:33] eduardo-escobar commented on #170
Hello, I need a hyperlink with the target _blank option, does anyone know how to do this?, I've been looking for more than two days it

[2020-10-16 22:01] jdnichollsc commented on #629
:(

[2020-10-17 02:50] EGBDFACE commented on #2966
i have tried `addImage` with imgData by `string` , `HTMLImageElement`, `HTMLCanvasElement`. only `HTMLCanvasElement` works fine for me, the others have the same TypeError. so my problem is resolved.

[2020-10-17 06:32] NAPATKRUP commented on #2938
Hi I'll try to do

[2020-10-17 13:27] RensTillmann commented on #1575
I'd like to share something I discovered (see image). I will try to explain what I am doing. Basically I am generating an image with html2canvas of the page. Since this will not make the PDF searchable (no text is in the PDF) I manually add text with doc.text(). This works great, but there is something odd when the text that is rendered in the PDF contains a combination of "Te" or "Ye", it seems t

[2020-10-17 18:52] Robson-Vasconcelos commented on #2323
@yannsainty you saved my day. Good solution, thanks.

[2020-10-18 08:10] abdosaeedelhassan opened #2967 "Blank PDF Document"
i am tried as next
 const {jsPDF} = window.jspdf;
                    var pdf = new jsPDF('p', 'pt', 'letter');
                    pdf.addFont('{{asset('assets/tajawalfont/Tajawal-Regular.ttf')}}', "Tajawal-Regular", "normal");
                    pdf.setFont("Tajawal-Regular"); // set font
                    pdf.setFontSize(10);
                    pdf.html(document.getElementById('invoiceData'

[2020-10-18 08:58] abdosaeedelhassan commented on #2967
i solved the above error by adding
        <script src="{{asset('assets/jspdf/purify.min.js')}}"></script>

but generated pdf document is blank

[2020-10-18 19:26] potapovnikita opened #2968 "Convert html to pdf: utf-8 works only with text, but not html (unicode/cyrillic not working)"
I'm opening [this issue](https://github.com/MrRio/jsPDF/issues/2640) again.

I need to convert html to pdf with jsPDF. It contains UTF-8 symbols (cyrillic). I used fontconverter to generate js-file for my custom font as written here: https://github.com/MrRio/jsPDF

So now example with text works like a charm (from https://github.com/MrRio/jsPDF/blob/master/examples/js/russian.js)

[code]
And examp

[2020-10-19 08:03] HackbrettXXX commented on #170
@eduardo-escobar AFAIK that is not even possible in PDF files.

[2020-10-19 08:05] HackbrettXXX commented on #2938
@night37 there is already a pull request for this: #2964.

[2020-10-19 08:09] HackbrettXXX commented on #2967
You need both the html2canvas and dompurify libs. If you loaded both, could you share the HTML markup please?

[2020-10-19 08:30] emildatcu commented on #2924
Did anyone fixed or found a workaround for this problem?

I also really need this 'feature' to work properly. I think that 'upgrades' like this one, when a default behavior is getting broke, it should be a priority in getting it working. It shouldn't be an issue in the first place.

It's freaking frustrating when a library says it's doing something, and after you install it and use it, you realize

[2020-10-19 09:28] abdosaeedelhassan commented on #2967
Hi
(1) HTML
                    <div id="invoiceData" align="center">
                        <div class="table table-responsive table-bordered">
                            <table class="table" id="invoiceDataTable">
                                <thead>
                                <tr>
                                    <th>@lang('The service')</th>
                                    <th

[2020-10-19 09:31] abdosaeedelhassan commented on #2967
i am sorry, you need to copy html in code editor to explore it

[2020-10-19 10:56] jeffsieu commented on #2924
@HackbrettXXX I would love to have a go at this, but I'm currently having trouble running the `html` function from the debugging page (from `npm start`).

It keeps giving this error:
![image](https://user-images.githubusercontent.com/8487294/96441758-9f025500-123c-11eb-8e30-cc0c11dcbb9c.png)

[2020-10-19 12:00] HackbrettXXX commented on #2924
@jeffsieu thanks. I'm assigning you.

In your debugging page, you need to load html2canvas (and dompurify if you pass a string to `html`). You can do so by adding a script tag, e.g.
[code]

[2020-10-19 14:17] mountiny commented on #2805
@manuelamaria @HackbrettXXX Hi! Have you managed to solve this? I cant make the html function to work. I am using the latest version of jspdf. Thank you!

[2020-10-19 14:52] anthonywebb opened #2969 "SyntaxError: Unexpected keyword 'export'"
Including JSPDF 1.5.3 in a script tag in the head of my html file works flawless.  Including 2.0.0 and above give the following error in the console:

SyntaxError: Unexpected keyword 'export'

Is there some sort of special way I should be including JSPDF now?

[2020-10-19 16:24] HackbrettXXX commented on #2969
That depends on the file you are using...
- `dist/jspdf.umd.js` is meant for script tags
- `dist/jspdf.es.js` is meant to be imported with es module style imports
- `dist/jspdf.node.js` is for node with commonjs imports

[2020-10-19 18:30] jeffsieu commented on #2924
@HackbrettXXX Is the content supposed to be scaled to fit the margins? And to be clear, is it context2d.js that manipulates the position/scale of the output?

[2020-10-20 07:55] HackbrettXXX commented on #2913
Fixed in https://github.com/pastelsky/package-build-stats/pull/28

[2020-10-20 07:55] #2913 closed

[2020-10-20 15:24] mountiny commented on #2805
@manuelamaria Thank you very much, that seems quite complicated for us now since we are in time/budget pressure.

[2020-10-20 15:57] mountiny opened #2970 "Html function not working in Node.js environment"
I am trying to render a html data into PDF which is generated on server side. Adding image or just text work well, but html function seems to not do anything. The callback is not even run as I dont get a console log output from it.

Below is my code. Thank you for any help suggestions if I am doing anything wrong. I know this is library primarly to be used on frontend, but I found that since versi

[2020-10-20 16:03] HackbrettXXX commented on #2970
Yes. Html2canvas requires a working DOM implementation. See also https://github.com/MrRio/jsPDF/issues/2805#issuecomment-684506292 and following comments.

[2020-10-20 16:03] #2970 closed

[2020-10-20 16:09] mountiny commented on #2970
@HackbrettXXX Thank you for response. That example does not work tho, the call back is not called and the document generated after calling the html function is not changed.

[2020-10-20 16:29] HackbrettXXX commented on #2970
What I meant to say is: the html function **can't** work in a node environment, because it requires a complete DOM implementation. The `jsdom` package does not provide all required functionality.

[2020-10-20 16:30] mountiny commented on #2970
@HackbrettXXX Thank you for the clarification and your time!

[2020-10-20 17:57] HackbrettXXX commented on #2966
Could reproduce it.

Here the code without the react stuff:
[code]

[2020-10-20 18:02] HackbrettXXX commented on #1575
@RensTillmann this could very well be a bug in jsPDF. Maybe it doesn't recognize the kerning between "T" and "e".

[2020-10-20 18:05] HackbrettXXX commented on #2968
Please try setting the font name also in the html markup. E.g.
[code]

[2020-10-20 18:11] HackbrettXXX commented on #2924
@emildatcu I understand that this is frustrating, but please understand that this is a (free!) open source library that's currently maintained by a single person (me). And I simply don't have the time to fix everything immediately. Even keeping up with all new issues and pull requests is hard. That's why it's open source and everyone can contribute to this project :)

[2020-10-20 18:16] HackbrettXXX commented on #2924
@jeffsieu The content should *not* be scaled to fit the margins. Instead, consider it as if the drawing canvas is the entire page minus the margins. If something would extend beyond the left/right margin, we should clip that. If something extends below the bottom margin, start a new page (with the top margin). See also my https://github.com/MrRio/jsPDF/issues/2924#issuecomment-698256602.

The posi

[2020-10-20 18:17] HackbrettXXX commented on #2967
That's not even HTML, that's PHP. Please share the already PHP-evaluated HTML.

[2020-10-20 19:01] abdosaeedelhassan commented on #2967
`<div class="table table-responsive table-bordered">
                            <tfooter>
                                    </tfooter><table class="table" id="invoiceDataTable">
                                <thead>
                                <tr>
                                    <th>الخدمة</th>
                                    <th>الكمية</th>
                                    <t

[2020-10-20 19:40] SirJalias opened #2971 "Address CVE-2020-7691 ( very similar to CVE-2020-7690 )"
Hello!

This vulnerability is very similar to #2795 so I think it should be already fixed.

The fact is that gemnasium that is dependency scanner is warning about this issue:

+------------+----------------------------------------------------------------------------------+
| Severity   | Medium                                                                           |
| Identifier | CVE-2020-7691

[2020-10-20 20:07] HackbrettXXX commented on #2971
I think this should in fact be fixed already. If not, it's an issue of Dompurify, the library we use to sanitize HTML strings.

[2020-10-21 01:53] #2812 closed

[2020-10-21 12:25] miko007 commented on #2958
i also scratched my head for about two days about this same problem. if the cause is the architecture of `jsPDF`, then its architecture is less than counter intuitive. i totally get, why this "plugin mechanism" exists, but i do not understand at all, why the lib is written in a manor, that prohibits prototype extension, it is kinda ridiculous.

are there any plans on changing this behavior? as i d

[2020-10-21 12:37] HackbrettXXX commented on #2958
@miko007 I agree the architecture is far from optimal, but I think we are stuck with it for a while...

[2020-10-21 12:37] potapovnikita commented on #2968
not working

`createCert() {
      this.doc.addFileToVFS("MyFont.ttf", myFont);
      this.doc.addFont("MyFont.ttf", "MyFont", "normal");
      this.doc.setFont("MyFont");
      const html = "<html style=\"font-family: MyFont;\">А ну чики брики и в дамки!</html>"

      console.log('this.doc', this.doc)
      this.doc.html(html, {
        callback: (doc) => {
          doc.save("a4.pdf");

[2020-10-21 12:38] HackbrettXXX commented on #2958
Closing this because its not a bug, but you can still use this for discussion.

[2020-10-21 12:38] #2958 closed

[2020-10-21 12:39] HackbrettXXX commented on #2968
Then I guess it's a bug...

[2020-10-21 12:43] #2819 closed

[2020-10-21 13:31] miko007 commented on #2958
a workaround would be the following, just for completeness:

[code]

[2020-10-22 07:10] TheManlyFairy opened #2972 ""jsPDF is not defined" after trying to use newer version"
Let me start off by saying, I'm still somewhat new to web development, so I'm sorry if I'm not clear enough.

Up until now, the company I'm working with was using jsPDF version 1.3.5 using a straightforward CDN call:
`<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>` which is placed just a few lines before the </body> closing tag.

We use this on a .php webpa

[2020-10-22 07:29] jeffsieu commented on #2924
@HackbrettXXX After a bit of digging around in the code, I still find it quite challenging to fully understand what's going on in the library.

To my understanding, the html function takes in an html element, then puts it in a pre-defined container, passes that container to html2canvas, then takes the resultant canvas and assigns it as a property of context2d, after which it gets turned into a pdf

[2020-10-22 08:00] #2822 closed

[2020-10-22 08:01] HackbrettXXX commented on #2972
The name of the global variable has changed in 2.0.0. The jsPDF constructor is now under `window.jspdf.jsPDF`.

[2020-10-22 08:01] #2972 closed

[2020-10-22 09:08] HackbrettXXX commented on #2924
The `html` module [passes `this.canvas` to html2canvas](https://github.com/MrRio/jsPDF/blob/master/src/modules/html.js#L997), so all canvas API calls from html2canvas are consumed by the `canvas.js` module.

The splitting into pages is controlled by the `autoPaging` property in the context2d module. As far as I can see, the splitting happens in 3 functions: `drawImage`, `pathPreProcess`, and `putT

[2020-10-22 10:51] RobertoUroz opened #2973 "Only Displaying One Page | Blank Pages | .html() method"
Hi.

I am trying to create a new pdf via HTML element parsed from a string in a file, this file has only div and p elements.

Versions:
"jspdf": "^2.1.1"
"html2canvas": "^1.0.0-rc.7"

The thing is that the first page is shown properly but the next pages seems to be blank, the elements are still there and when I copy and paste them are being copied correctly.

This issue happens with all the apps e

[2020-10-22 10:54] TheManlyFairy commented on #2972
Ooohhhh, ok, I looked through the v2.0.0 update notes.
Thank you!

[2020-10-22 15:57] jeffsieu commented on #2924
Ok, I managed to get the top and left margins working, but I'm unsure how to modify the pdf renderer to cut off at the right and bottom margins. As Context2D is making calls to `putText` which does `this.pdf.text(...)`, I think something will have to be changed in `jspdf.js`?

[2020-10-23 01:55] #2815 closed

[2020-10-23 01:55] #2814 closed

[2020-10-23 02:04] itjayaprakash opened #2974 "How to add margin between two continuous page of pdf"
How to add margin between two continuous page of pdf ?

[code]
if any thing i missed kindly correct to me ?

**Thanks**
J.Jayaprakash

[2020-10-23 10:26] RobertoUroz commented on #2973
Fixed the issue. The error is:

When creating dynamic DOM elements from a string, HTML2Canvas do not behave properly, the issue showed here is similar to #2756 . To fix this issue, I send a string instead of the element and go with the flow of DOMPurify, so the blank pages are fixed and everything is working.

Versions:
jspdf@2.1.1
html2canvas@1.0.0-rc.7
dompurify@2.0.17

[2020-10-23 10:26] #2973 closed

[2020-10-23 13:44] LogisticaSM opened #2975 "Can't convert DIV element to PDF as HTML code"
Hey!

I have some elements I want to convert to PDF.
However I'm unable to maintain the structure I made with HTML. It's a big table with lots of colors, splits and such.
I know how to save it either as plain text or plain html code, with tags and all.

How could I do to convert the whole DIV as is displayed in the website?

I'have been trying to meddle with this [http://raw.githack.com/MrRio/jsPD

[2020-10-23 14:19] nicolastoulemont commented on #2854
Hi,

I am having some similar issue with the upgrade from 1.5.3 to v2.

The handling of copy paste content from word documents has had a significant regression (removal of all characters after the unhandled one).

Any clues how to handle it ? Using a custom font didn't resolve the issue.

[2020-10-23 19:07] gologames commented on #2474
Up

[2020-10-23 19:07] gologames commented on #2453
Up

[2020-10-23 20:56] tiberiumihai opened #2976 "canvg optionalDependency is installed on npm install"
Because it's declared as dependency in package.json, canvg is installed and loads core-js from babel.

My project uses angular and angular-cli throws warnings about those, because angular-cli@>=v8.0.0 already handles core-js imports automatically.

[code]

I've already opened an issue in canvg repo, but the problem is in fact in jspdf repo. https://github.com/canvg/canvg/issues/1253

[2020-10-24 13:08] abdosaeedelhassan commented on #2967
@HackbrettXXX, is there any new her please

[2020-10-25 08:50] Anderman commented on #2926
Events can be user as workaround.
[code]

[2020-10-25 13:08] lagmanzaza opened #2979 "TypeError: Cannot read property 'fromString' of undefined"
When I create new PDF with svg file, it doesn't work

svg file is from fabricjs

[code]

I use Nextjs to generate PDF

[2020-10-26 06:36] ChanakyaBandara opened #2980 "fromHTML Width is not Working"
Am trying to fill up the PDF with HTML table , even i change the width it doesn't affect at all.
[Complaints Report (14).pdf](https://github.com/MrRio/jsPDF/files/5437185/Complaints.Report.14.pdf)

[2020-10-26 09:44] HackbrettXXX commented on #2975
Did you load dompurify and html2canvas properly?

[2020-10-26 09:46] HackbrettXXX commented on #2474
@gologames if you provide us with a pull request, I will gladly merge it.

[2020-10-26 09:54] HackbrettXXX commented on #2976
You best option is probably to mark canvg as external as described in the [readme](https://github.com/MrRio/jsPDF#optional-dependencies). However, you need to modify your webpack config for this. Alternatively you can simply ignore the warnings and just don't use the created canvg bundle, since your app doesn't need it.

AFAIK, there is not much we can do about this situation on our side, but if y

[2020-10-26 09:57] HackbrettXXX commented on #2967
Didn't have the time so far to look into this, sorry.

[2020-10-26 10:00] HackbrettXXX commented on #2979
Please provide the entire stacktrace.

[2020-10-26 10:01] #2823 closed

[2020-10-26 11:05] lagmanzaza commented on #2979
Now I change to use add image instead, thank you

[2020-10-26 11:05] #2979 closed

[2020-10-26 11:59] antonkri97 commented on #2979
@HackbrettXXX I just opened corresponding pull request

#2981

[2020-10-26 13:48] tech-srinath commented on #259
[https://stackoverflow.com/questions/25946275/exporting-pdf-with-jspdf-not-rendering-css#:~:text=jspdf%20does%20not%20work%20with,use%20jspdf%20along%20with%20html2canvas.&text=make%20clickable%20button%20on%20page,that%20of%20original%20html%20page.&text=This%20is%20sample%20code%20for%20the%20jspdf%20html%20to%20pdf%20download.](url)

The solution is to use html2canvas but it didnt solve my prob

[2020-10-26 16:21] HackbrettXXX commented on #259
`fromHTML` is deprecated. Update to 2.x and use `html` instead.

[2020-10-26 20:30] AggelosM commented on #2071
Do we have any updates on this feature? I would like to prevent the text from being copyied, or maybe password pretect the pdf.

[2020-10-27 08:16] gologames commented on #2474
@HackbrettXXX unfortunately, we have other priority tasks and haven't free time to do pull request like this now. We solved this issue via workaround on our side (screenshot below JFYI)

![image](https://user-images.githubusercontent.com/30930391/97274463-beedd600-1845-11eb-94d2-453b4f5fcb19.png)

[2020-10-27 10:19] HackbrettXXX commented on #2071
There is a pull request almost finished: #2959

[2020-10-27 13:57] lagmanzaza commented on #2979
Thank you very much

[2020-10-27 14:59] dhairyagada commented on #2930
Hi @HackbrettXXX , I wish to add an angular based example, however can you tell me what all things are to be shown in the example?

[2020-10-27 15:27] FredericKirchhoff commented on #956
const { jsPDF } = require("jspdf");

  methods: {
    download() {
      let pdfName = 'test';
      var doc = new jsPDF();
      doc.text("Hello World", 10, 10);
      doc.save(pdfName + '.pdf');
  }

finally worked for me in Vue

[2020-10-27 16:31] HackbrettXXX commented on #2930
@dhairyagada For starters, show how to import jsPDF and create a very simple PDF file, e.g. with one line of text. Maybe on button click etc. Additional things would be:

* Show how to use the `html` function and how to export HTML created from Angular components as PDF (including CSS styling)
* Show how to mark `canvg` as external module (see [readme](https://github.com/MrRio/jsPDF#optional-depen

[2020-10-27 21:42] LucaCode92 commented on #2968
@HackbrettXXX the same with Polish signs :(
Is there any chance for a quick fix of this problem?

I'm tring to create pdf in this way:

[code]

[2020-10-28 02:01] #2456 closed

[2020-10-28 03:53] aruniverse commented on #2971
i believe you just need to update the optional dependency on dompurify to ^2.1.0 and update the lock file. if that sounds good i can make a pr for this

[2020-10-28 08:45] potapovnikita commented on #2968
It works?

[2020-10-28 10:20] #2971 closed

[2020-10-28 15:54] AggelosM opened #2985 "Download pdf function doesn't work from Facebook browser."
**Issue:** save() function doesn't work from Facebook in-app browser on Android (and probably iOS).

**How to reproduce:** Open http://raw.githack.com/MrRio/jsPDF/master/ from Facebook/Messenger in-app browser (you can send the link to yourself) and press _Download PDF_

**Expected behavior:** The devices' default browser should download the file.

**What actually happens:** Nothing.

[2020-10-28 17:05] Cthulhu-28 commented on #2922
@noobling Were you able to solve this issue with a custom font? I have the same issue.

[2020-10-28 18:06] LucaCode92 commented on #2968
@potapovnikita as I mentioned - there is a problem. I just showed part of my code in case I made a mistake somewhere :)

[2020-10-28 18:08] lazoir opened #2986 "issue with displaying HTML element with .html() method : jsPDF 2.1.1"
Hello ,
I am faced issue when i try to use .html() method,  i got a word by line in PDF file .
is it bug or i missed some parameters ? thank to find below the code

[code]

[2020-10-29 00:20] SoldierCorp commented on #2930
Hi @HackbrettXXX

Sorry, I just started reviewing this task. It was a crazy month releasing some projects.

I have a question, I've been updating some of them (3 .html files that contain examples) but there are a lot of files in different folders and some of them are purely js and no HTML to test so I'm not sure if I am in the right direction also, what is the url in production the users visit to

[2020-10-29 02:16] chucknelson opened #2987 "html2canvas Option `onclone` Not Working as Expected with jsPDF"
When passing a function to the html2canvas option `onclone` via jsPDF, via [the html module's `html2canvas` property](http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html), the generated PDF does not reflect the changes in the cloned document.

Some self-contained example html is below to copy+paste, which demonstrates what seems to be happening. From what I can tell, jsPDF is using an

[2020-10-29 02:20] chucknelson commented on #2986
@lazoir - Could you tweak your example HTML so it works stand-alone? I think if you update your CSS and script references to CDN links or something, that would work.

[2020-10-29 05:03] H4C-K3R opened #2989 "jsPdf page size not working in some devices."
I have created a website using jsPdf to convert bunch of images to pdf.
I want to make a pdf in which the size of pages will be in the ratio of height and width of images.
```doc.addPage(300,Math.floor(300*ratio));```
```doc.addImage("'"+pngUrl+"'", 'JPEG',0,0,200,200*ratio);```
This method is working fine in my device.
But in certain devices the page size is not exactly that I wanted it is of the

[2020-10-29 07:45] RSPaul commented on #783
I am getting the same error:
[code]

[2020-10-29 07:52] noobling commented on #2922
Partly if you rollback html2canvas to a specific version. Idk the version and I've left that company now so...

[2020-10-29 10:10] tanaji710 opened #2990 "Unable to generate pdf with chinese and turkish language in angular"
I am using jspdf latest version in my angular application and i am unable to generate pdf with  chinese and turkish language please help me to resolve that issue it showing different garbage symbol

[2020-10-29 12:30] lazoir commented on #2986
@chucknelson  thank your repply ,
i tried the your solution but i got same result, i still have a word by line as mentioned in the screenshot below  .
 Please can you test the code from side and compare the result ?

[code]

<img width="755" alt="jsPDF" src="https://user-images.githubusercontent.com/73607767/97573636-00b38380-19e2-11eb-8f6a-66ad597ab036.PNG">

[2020-10-29 12:38] uuykay commented on #2990
Hey @tanaji710 please see the content under "Use of Unicode Characters / UTF-8:" in the Readme.

[2020-10-29 15:34] HackbrettXXX commented on #2930
@SoldierCorp You mean the JS files in the examples/js folder? They are used by the toplevel `index.html` which can be seen here: http://raw.githack.com/MrRio/jsPDF/master/. This would also be the "production" URL.

[2020-10-29 15:39] HackbrettXXX commented on #783
@RSPaul did you `const { jsPDF } = require("jspdf")` it?

[2020-10-29 16:22] RSPaul commented on #783
Yes, I used it but still getting the same error.

[2020-10-30 16:22] HackbrettXXX commented on #783
@RSPaul well then we need more information. Please share your complete code snippet, any build tools you use, node version, jsPDF version, etc.

[2020-10-30 19:09] Amarok74 commented on #2570
When I create my report and export it as PDF I can open it in the web browser (Google Chrome) but if I try to open it in Acrobat Reader it says there is a Problem reading the document (110)
[Reporte.pdf](https://github.com/MrRio/jsPDF/files/5467115/Reporte.pdf)

[2020-10-31 18:12] chucknelson commented on #2986
Thanks @lazoir - sorry, didn't mean to imply that would fix anything, just wanted an example that could be run by itself for others.

Taking a look at your problem, I think it's due to how the `source` / html width is handled. You can see what is happening in the "hidden" container used for PDF generation if you add some CSS and a `debugger` statement:

[code]
...
[code]

If you look inside the `h

[2020-11-02 19:11] lazoir commented on #2986
Hello @chucknelson, yes you are right css was the problem. now it works perfectly Thanks for your support.
For other people facing the same problem, they can just arround  your HTML contentwith a DIV element  like below.
[code]

[2020-11-02 19:20] chucknelson commented on #2986
@lazoir - Awesome! When you get a chance, can you please close this issue? Thanks!

[2020-11-03 02:58] ejuvaleru commented on #2892
Hi, could you explain how you use html2canvas in the newest version of jsPDF? I know this is included internally but I'm trying to use it and it dosen't respect my CSS styles...

[2020-11-03 09:01] wesleymostien commented on #2904
a workaround (for garbled text when using compression) I have found is using  ``filters: ['ASCIIHexEncode', 'FlateEncode']``

when creating a new jsPDF instance
[code]

[2020-11-03 09:45] #2986 closed

[2020-11-03 09:46] lazoir commented on #2986
Solved.

[2020-11-03 13:56] sebbalex opened #2991 "Unable to load dompourify dependency for html()"
Hello, my issue is similar to #2846 I have an application created with `create-react-app --template typescript`

I use:
[code]

My custom webpack configuration
[code]

And code:
[code]

And this is what I get:
`Uncaught (in promise) Error: Could not load dompurify: Error: Could not load`

They are both present in my `node_modules` folder.
PDF is generated but completely blank.
Thanks

[2020-11-03 16:29] HackbrettXXX commented on #2991
Well, if you define "dompurify" and "html2canvas" as external, they will not be included in the build and can therefore not be loaded. You should only define them as external if you are not using the `html` function.

[2020-11-03 16:51] sebbalex commented on #2991
ouch.. I misunderstood the point, now it's working, thank you @HackbrettXXX

[2020-11-03 16:51] #2991 closed

[2020-11-04 01:35] #2827 closed

[2020-11-04 07:08] MugheesAbbas commented on #704
hello i am facing the same issue doc.fromhtml is not a function how can i fux it?

[2020-11-04 09:17] 0721Betty opened #2992 "fromHTML is not a function when I use jsPDF in vue"
[code]

[2020-11-04 15:54] HackbrettXXX commented on #2992
The `fromHTML` function was replaced by `html` in 2.0.0. Unfortunately, the typings currently still contain the `fromHTML` method but a fix is under way.

[2020-11-04 15:54] #2992 closed

[2020-11-04 15:54] HackbrettXXX commented on #704
See #2992.

[2020-11-04 23:12] github-jorgem opened #2993 "node.js - doc.html(string) - UnhandledPromiseRejectionWarning: ReferenceError: document is not defined"
I'm reporting a possible bug.

jsPDF v2.1.1
node v12.19.0
npm v6.14.8

My code:
[code]

The PDF is blank and I get the error:
[code]

[2020-11-05 08:41] HackbrettXXX commented on #2993
The `html` function does not work in node, because it requires a working DOM. See also #2805 and #2970.

[2020-11-05 08:41] #2993 closed

[2020-11-05 09:31] nesara-cmd commented on #2503
[](https://www.dropbox.com/s/v8v0uv7h40lk30e/Citibank_Online.pdf?dl=0)

[2020-11-06 01:38] #2830 closed

[2020-11-06 01:38] #2713 closed

[2020-11-06 08:17] PatricNox opened #2994 "Deprecation warning using minified version jspdf"
Running an export causes a warning about eventual deprecation, is this known or maybe already fixed?

`jspdf.es.min.js?8baf:197 [Deprecation] Synchronous `

[2020-11-06 10:57] prast1007 commented on #2482
I have also get the same problems with it, sadly I can't find any solutions for this case anywhere...

[2020-11-06 12:42] HackbrettXXX commented on #2994
I assume the warning comes when loading images from a URL? The thing is, that the API of `addImage` is synchronous for historic reasons and we therefore need to make synchronous requests. There is an easy workaround, though, by preloading the image and passing it e.g. as data url to the `addImage` method. We might consider making `addImage` optionally async.

[2020-11-06 12:52] PatricNox commented on #2994
Yeah that could be it.

In my export, I use `addImage` after taking a snapshot of a given element using html2canvas,  like so:

[code]

Therefore I don't see a preload solution for my use case but it was a good idea nevertheless.

[2020-11-06 13:53] esjs opened #2995 "doc.text() line breaks issue when combined with maxWidth parameter"
I've been struggling with adding line breaks into text, and when checked source code noticed that what you do is first split text into separate lines
https://github.com/MrRio/jsPDF/blob/c44b9c1e02fd83e25a226f4e2ff55d20eee83743/src/jspdf.js#L3570-L3576
and then add them again and calculate line breaks based on maxWidth if present
https://github.com/MrRio/jsPDF/blob/c44b9c1e02fd83e25a226f4e2ff55d20e

[2020-11-06 14:49] zoldalis commented on #2975
I have error with dompurify loading, and can't find any information about how to load it properly. Why could this happen?
![image](https://user-images.githubusercontent.com/53241602/98378994-95645400-2068-11eb-8765-fb3f63b0b312.png)

[2020-11-07 04:01] lucasctd commented on #2967
@abdosaeedelhassan were you able to fix this?
I tried to use the example from their website but I am always getting:

[code]

I used the following code to test:

[code]

[2020-11-09 04:18] #2990 closed

[2020-11-09 09:03] #2820 closed

[2020-11-09 09:03] #2831 closed

[2020-11-09 09:30] HackbrettXXX commented on #2995
What exactly is the issue? Could you provide a small sample together with it's current output and the output you would expect? Thanks.

[2020-11-09 09:40] HackbrettXXX commented on #2967
@lucasctd Your html2canvas seems a little outdated. Could you try html2canvas@1.0.0-rc.5?

[2020-11-09 09:43] HackbrettXXX commented on #2994
You could convert the canvas element to a data url: https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL

[2020-11-09 09:50] abdosaeedelhassan commented on #2967
welcome back, i will tried, thank you

[2020-11-09 10:09] esjs commented on #2995
I've attached a codesandbox example which demonstrates that if you insert line-break sequence and set maxWidth properties, those line-breaks will be ignored. With proposed fix, everything works as expected. See attach before/after .pdf files

[print_after.pdf](https://github.com/MrRio/jsPDF/files/5509642/print_after.pdf)
[test_before.pdf](https://github.com/MrRio/jsPDF/files/5509643/test_before.pd

[2020-11-09 13:55] PatricNox commented on #2994
Hmm the warning still popups

[code]

[2020-11-09 16:19] HackbrettXXX commented on #2994
Mmh that's odd... could you debug a little and try to find out why?

[2020-11-09 16:28] HackbrettXXX commented on #2995
Ah, yes this issue has been reported multiple times already. However, fixing this could be seen as a breaking behavior change, which is why we should be careful. Maybe we can implement the fix behind a hot-fix flag? See [here](https://github.com/MrRio/jsPDF/blob/master/HOTFIX_README.md).

[2020-11-09 18:14] esjs commented on #2995
Sounds like a very good idea, that's why I ask about breaking changes in first message. Do you think name "text_newline_max_width" will be descriptive enough? If so, I can update merge request with this parameter in mind. Also, are there any special files that should be updated besides  HOTFIX_README.md to reflect this change?

[2020-11-10 14:02] ravi2357 commented on #956
Thanks it works

[2020-11-10 14:24] Maxime-Aubry-Econocom opened #2998 "addSvgAsImage method does not display svg image with Angular 8"
Hello.

I try to add a svg image into my pdf.
here is the code :
[code]

I get an error message :
`Cannot read property 'fromString' of undefined`

And svg image is not in the saved pdf.
Could you help me please ?
Thanks.

[2020-11-10 17:05] lucasctd commented on #2967
@HackbrettXXX I tried the one below:

`<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>`

but I got a different error this time:

[code]

*Same error if I use rc.5

Thanks.

[2020-11-10 21:33] abdosaeedelhassan commented on #2967
@lucasctd
@HackbrettXXX

i solved my problem, @lucasctd  feel free to open new issues, thank you

[2020-11-10 21:33] #2967 closed

[2020-11-11 09:04] HackbrettXXX commented on #2743
Will be fixed with #2944.

[2020-11-11 09:09] HackbrettXXX commented on #2967
@lucasctd from the stack trace I read that this is most probably a html2canvas issue. Could you try to call html2canvas directly with your `html` markup?

[2020-11-11 09:10] HackbrettXXX commented on #2998
Yes, this is a known issue and was fixed with #2981. There will be a new release in the next couple of weeks.

[2020-11-11 09:11] #2998 closed

[2020-11-12 06:15] Germagen opened #2999 "addImage rotation not working"
my example:
doc.addImage(img.src, 'JPEG', 0,0, width*k, height*k, undefined,  undefined, 90);

Sorry for my bad english
I have try to use different angles, but in pdf document image angle always 0. May be I  do something wrong?

[2020-11-12 08:44] Germagen commented on #2999
sorry in verstion > 2 all good!!! ;-)

[2020-11-12 08:44] #2999 closed

[2020-11-12 09:15] klues commented on #2889
Yesterday I've tried both svg2pdf and canvg, but unfotunately they didn't work well for me. I've ended up in converting the SVG to PNG before adding it to the PDF, see my answer on Stackoverflow: https://stackoverflow.com/a/64800842/9219743

Suggestion: Since the required code for this is quite short and simple, maybe it could be added directly to jsPdf in [addSvgAsImage](http://raw.githack.com/Mr

[2020-11-12 13:09] ProximaHaiz commented on #2533
Any updates in this issue?
@KohakuDoig @s-patompong Have you found a solution how to add gaps on the top and bottom part of the pages?

[2020-11-12 13:38] Jigisha-sublime commented on #2968
@potapovnikita

I would like to mention two things here.
1. setting font as doc.setFont('PTSans') won't work for the HTML. for accessing fonts in the HTML you have to pass it as an inline style with font-family.

2. I have observed that the .html API of jsPdf does not support <html> directly, takes the main element of the body, and renders it. ( Correct me if I'm wrong but I have observed it many

[2020-11-12 13:38] Jigisha-sublime commented on #2968
Hope that it will help some one.

[2020-11-12 13:39] Jigisha-sublime commented on #2968
So, I guess it's not a bug but a lack of clarity for the use case.

[2020-11-12 15:16] KohakuDoig commented on #2533
Hi @ProximaHaiz No I have not used jsPDF since then. Did you try my solution posted above?
https://github.com/MrRio/jsPDF/issues/2533#issuecomment-664670043
It's a bit slower but seems to do the job.

[2020-11-12 15:24] ProximaHaiz commented on #2533
I've checked it. But as you said, it's a bit slower.
So I've used jspdf autotable library. Try it.
It inserts table to the pdf file on each page

[2020-11-12 15:45] Ceremony64 opened #3000 "Custom font with spaces in name causes invalid PDF"
When generating a PDF and a custom font title with a space in its name is used, the resulting PDF is not PDF/A compliant and even fails to open in some PDF readers (such as awful Adobe Acrobat Reader).

Here is a example with jsPDF v2.11 and the default windows fonts Calibri and Comic Sans. From my testing, any ttf font will do:
[code]

Using https://www.pdf-online.com/osa/validate.aspx to test th

[2020-11-13 15:00] klues opened #3001 "Adding PNG images massively increases output filesize"
First: thanks for this great library!

I'm wondering why adding some small images to a PDF results in very big output files.
See this runnable example: https://jsfiddle.net/xkta09bw/

Im adding some PNG images to an empty PDF and the resulting file is about 5MB big while the added images in base64 reprensentation are only about 200kB in total.
Why does this happen and can I avoid it?

[2020-11-13 15:16] HackbrettXXX commented on #3001
My first guess would be that the image is included in uncompressed form in the PDF. Did you pass `compress: true` to the jsPDF constructor and `{compression: 'SLOW'}` to the `addImage` call?

[2020-11-13 15:20] HackbrettXXX commented on #2995
I think the hotfix name is good :) I think we should document this hotfix in the HOTFIX_README as well as in the JSDoc of the `text` method.

[2020-11-13 15:28] klues commented on #3001
Thanks for the quick response! I've tried both and both are reducing the filesize dramatically 5MB -> 80kB.
Maybe it would make sense to set `compress` to `true` by default?!

[2020-11-13 15:28] #3001 closed

[2020-11-14 03:55] T00rk opened #3002 "Custom Font import in Typescript"
I try to import Roboto as a custom font but it ends with a blank pdf.

![image](https://user-images.githubusercontent.com/593708/99139086-0f32a980-2636-11eb-9575-93dfbf911f63.png)

As you can see, the text is selectable but not shown.
(I tried to set text color to black but it didn't work)

**Document.ts**
[code]
**Font Directory**
![image](https://user-images.githubusercontent.com/593708/99138983

[2020-11-14 04:25] T00rk commented on #3002
OK, after some more time I found the problem.
I was saving the `output()` into a file using `fs.appendFileSync(...)` but I forgot to add `{ encoding: 'binary' }`.
My bad :sweat_smile:

[2020-11-14 04:25] #3002 closed

[2020-11-14 10:42] esjs commented on #2995
Hi @HackbrettXXX, I've been working on tests for hotfix, and couldn't make them work, but then I realized that version of `jspdf.js` that we have in src is different from what we have in `dist/jspdf.es.js`. And in version inside src everything already works as expected.

See src jspdf
https://github.com/MrRio/jsPDF/blob/master/src/jspdf.js#L3602-L3612

and inside dist
https://github.com/MrRio/jsPD

[2020-11-15 10:51] crazydev901 commented on #1984
@IngoManthey How did you add the ttf font file into your angular project?
The custom font doesn't work inside the typescript file, does it?

[2020-11-16 03:56] s-patompong commented on #2533
@ProximaHaiz sadly, I haven't. My solution now is to split each section in a div and then print each section on each page. I need to be careful and make sure each div will fit in each PDF page though so it might not be the best solution.

[2020-11-16 11:32] HackbrettXXX commented on #2995
The files in the `dist` folder are only updated on release. So if the issue is already fixed, I guess we can simply close this issue and the PR. I will prepare a new release in the next 2-3 weeks.

[2020-11-16 11:36] HackbrettXXX commented on #3001
Yeah, the default is false for historic reasons. We should consider changing the default with the next major release.

[2020-11-16 12:05] esjs commented on #2995
Got it, will wait for release, thanks!

[2020-11-16 12:05] #2995 closed

[2020-11-16 12:21] SirJalias opened #3003 "When is planned to do a new release?"
Hello!

There have been many commits from the last release, and there is one security fix.

@HackbrettXXX do you know when a new release will be done?

Thank you!

[2020-11-16 13:32] tarekis opened #3004 "RangeError: offset is out of bounds: Some PNG filters are not processable"
Adding PNGs via `addImage` with certain filters throws an error:

[code]

Please bear with me, I am certainly no expert on images, but I'd like to relay my findings on this error.
Some PNG images cannot be processed if they are directly added with `addImage` via URL (previously I have included them by creating a data URL from a canvas).
The issue is this code that seems to apply PNG filters: https

[2020-11-16 15:00] Rui-Jesus commented on #2968
For me, using the version 2.1, setting the font style on the html element like so: <html style="font-family: PTSans;">А ну чики брики и в дамки!</html> and importing the fonts according to https://www.devlinpeck.com/tutorials/jspdf-custom-font#:~:text=Adding%20Custom%20Fonts%20to%20jsPDF,of%20your%20desired%20font%20file.&text=Once%20you%20have%20your%20.,to%20this%20jsPDF%20Font%20Converter. work

[2020-11-16 15:48] stefan123t commented on #763
@jutunen, @MrRio, @Uzlopak thanks for adding XMP support. jsPDF is an awesome library!

I only have a slight problem, i.e. adding the rdf:Description and especially the jspdf:metadata elements is superfluous.
I have worked around this by closing the superfluous elements, adding my Dublin Core, XMP, PDF and xmpMM metadata and then opening the superfluous elements again.

Maybe jsPDF could drop the

[2020-11-16 20:12] Nabeeh-AlSawaf commented on #2548
hello you said fixed by changed to Bas64 , can you link a working full example ?  with imports and where did you put the Base64 file?

[2020-11-17 19:20] lincolnlemos commented on #49
Can I choose the Unit?

It would be great if we have the same option to choose the "Unit" in the same way as we define at new jsPDF({ unit: 'px' })

[2020-11-18 01:38] #2842 closed

[2020-11-18 09:06] #2858 closed

[2020-11-18 10:14] donqq commented on #2745
Just got a notification of the above action. I want to say this works fine. I have successfully used it in a project.

[2020-11-18 10:28] HackbrettXXX commented on #2745
Ok, then I'm gonna close this.

[2020-11-18 10:28] #2745 closed

[2020-11-18 15:12] parastoo-khayami commented on #411
my same problem solved with using base64 data of the image instead of giving the path to find it.

[2020-11-18 20:51] pedrohenriiz opened #3005 "Renaming the file doesn't work when using output 'bloburl'"
I'm making a PDF that I need to open it in a new tab to allow user see it and be possible to download(save) and print. The code to do this looks like this.

[code]

The only way that I found to save and print the PDF is using the output with 'bloburl'. The others doesn't seems to be working (at least on my tests). Using this one works fine, but the file name when saving appears like a hash, someth

[2020-11-19 01:44] #2843 closed

[2020-11-19 06:25] Jigisha-sublime commented on #2461
Can anyone please clarify that is it a bug or we can have any workaround for this?
this feature is really important for repeating header with multiple pages in HTML to pdf.

[2020-11-19 07:55] Jigisha-sublime commented on #2924
Hello,
I am using .html API in my project and can't downgrade to the older versions because I need to use some good styling features which are not supported in older versions, can you please suggest any workaround for the bottom margin? I can manage everything else by customizing my content but we really need support for the bottom margin.
Can anyone please suggest any workarounds for this require

[2020-11-19 08:36] michaelzangerle commented on #3004
I just tried to replicate this issue and played a bit around with the image in Gimp. I found out that the image in question has `Indexed` as Image > Mode set. Setting it to `RGB` and exporting it (not just saving - maybe that makes a difference as well) with the default gimp settings seems to prevent the error from happening.

[code]

I have no idea what making this change means in context of the

[2020-11-19 08:47] datcuemil commented on #2924
@Jigisha-sublime, I used this as a workaround at least until this issue is fixed and works, and the text is selectable:
`const downloadPDF = () => {
    const content = contentRef.current;
    if (!content) {
      return;
    }
    const doc = new jsPDF({
      orientation: 'portrait',
      unit: 'pt',
      format: 'a4',
    });

    const opt = {
      margin: [5, 0, 8, 0],
      filename: `${

[2020-11-19 09:20] Jigisha-sublime commented on #2924
@datcuemil, thanks for your response.
I tried the same function, it's working for margins but the text is still not selectable.
I am using
jspdf ( V  2.1.1.) and
html2pdf.js (  V 0.9.2 ).
any suggestions?

[2020-11-19 11:18] Jigisha-sublime commented on #2924
Also, is there any way we can repeat the HTML header on each page with this method?
Not just doc.text() but adding actual HTML content as a header
i.e. `<p> Header part </p>` or some logo images.

[2020-11-20 01:37] #2847 closed

[2020-11-23 16:51] Miirwan commented on #2972
@TheManlyFairy  I have the same issue , what should I do to fix it ? thnks

[2020-11-23 19:20] FastLogic1 commented on #1803
how I show Textfiled value in the center? any one know

[2020-11-24 03:27] 641869306 opened #3006 "PDF's background has gray shadow"
![image](https://user-images.githubusercontent.com/43361529/100043211-e5546080-2e47-11eb-8fdc-addb30700f35.png)
How to solve it

[2020-11-24 04:55] themacboy commented on #2972
I think all that is explained in any doc.

If i  remember correctly, try to start your script with :

If (!window.jsPDF ) {window.jsPDF = window. jspdf. JSPDF) ;

Or something similar, wait for more information of more skilled member.

El lun., 23 nov. 2020 17:51, Miirwan <notifications@github.com> escribió:

[2020-11-24 11:19] Miirwan commented on #2972
@themacboy  thnk you! it's resolved.

[2020-11-24 16:55] LogisticaSM opened #3007 "TypeError: doc.fromHTML is not a function, where to get debug library?"
Hello there, I'm trying to use jsPDF to print some html code as if, not the text, but the code working exactly as it's displayed on my website, I tried multiple things, but I kept getting errors and errors. Finally I found a thread in stackoverflow describing the last of the issues I was facing and it provided a debug library for this.

With it, it works perfectly, however I'm a little worried bec

[2020-11-24 19:18] MaximeMorin commented on #2832
We got the same issue with any text with "special" characters such as "é" or even the typesetter's apostrophe.  As others have pointed out, this used to work in 1.5.3.

[2020-11-24 22:25] git-hariyali opened #3008 "Textfield text invisible and unable to save after pdf is generated in Ubuntu"
Bug

I am using jsPDf - 1.5.3

here is sample code
`     var listbox = new TextField();`
     ` listbox.edit = true;`
     ` //listbox.fieldName = "ListBox";`
     ` listbox.fontSize = 12;`
     `listbox.multiline = true;`
     `listbox.maxFontSize = 12;`
     ` listbox.Rect = [40, posY, 500, 120];`
      `listbox.value = 'value';`
      `//listbox.DA = null; // tried this after reading one story

[2020-11-25 00:46] luiggi0925 commented on #3007
Check #2992

[2020-11-25 11:21] Ifeoluwa123 opened #3009 "If you mean, that you had CSS3 and used fromHTML, then yes."
i try to import " ReactDOMServer" and "renderToStaticMarkup" but is not working...i have a separate reactJS component and i want to convert it to PDF file and display it at the same time while the browser loads using jsPDF library...but is not working but i have installed the dependency

[2020-11-25 12:48] Uzlopak commented on #3009
fromHTML and React? I dont think that you have the slightest chance to get this done. fromHTML is a very very very basic html implementation.

Use .html method or how it is called which uses html2canvas npm package under the hood.

[2020-11-25 16:37] HackbrettXXX commented on #3009
Try the `html` method instead (and update to jspdf 2.x if you haven't).

[2020-11-25 16:38] #3007 closed

[2020-11-25 16:38] HackbrettXXX commented on #3008
Is the bug still there in 2.1.1?

[2020-11-25 21:24] JeBuSBrian commented on #3000
I can confirm this scenario and that removing spaces fixes it. I came here looking for a solution and this provided it, relatively painlessly. Thanks @Ceremony64

[2020-11-26 14:22] Miqueliu opened #3010 "Bower installation error"
When library is installed by Bower, it breaks the process with an error because there is a dependency that does not exist ("Package btoa not found").

[2020-11-27 01:46] #2575 closed

[2020-11-27 11:10] Miqueliu commented on #3010
I found [a library](https://github.com/dummerbd/bower-jspdf) (based on this one) that does work!

[2020-11-27 13:55] benjoz commented on #3003
Hello, same trouble here
Can we please have a release ? gemnasium is still complaining
![image](https://user-images.githubusercontent.com/1252868/100456405-99f8b700-30c0-11eb-8e38-a215baac2019.png)

[2020-11-27 16:02] #2870 closed

[2020-11-27 16:04] HackbrettXXX commented on #3010
Yeah, we can probably just remove `atob` and `btoa` from the dependencies in the `bower.json` file, since they are only required for node. Could you prepare a pull request?

[2020-11-27 16:08] HackbrettXXX commented on #2577
#2997.

[2020-11-27 16:09] #2874 closed

[2020-11-27 16:10] #2876 closed

[2020-11-27 16:14] HackbrettXXX commented on #3000
[Here](https://github.com/MrRio/jsPDF/blob/master/src/modules/utf8.js#L218), the `font.fontName` also needs to be escaped like in the other occurrences. @Ceremony64 could you provide a pull request?

[2020-11-27 16:15] HackbrettXXX commented on #2832
That's in fact really odd. @MaximeMorin could you maybe dig into that?

[2020-11-27 16:17] HackbrettXXX commented on #3006
Please stick to the issue template and provide all the required information, thanks.

[2020-11-27 16:46] Miqueliu commented on #3010
Sorry, I do not know deeply your library. It is only occurs to me to blank [dependencies in Bower file](https://github.com/MrRio/jsPDF/blob/master/bower.json#L16).

[2020-11-27 19:44] MaximeMorin commented on #2832
@HackbrettXXX Do you have anything in mind?  We were at version 1.5.3, upgraded, issue started to happen, downgraded and it worked.

[2020-11-30 10:22] brechtarnou opened #3012 "Multiline text transforms itself"
Hi all,

When I try to add some multiline text to my pdf I get a weird transformation.

![image](https://user-images.githubusercontent.com/58935002/100597727-13311d80-32fe-11eb-9ac8-14013323400d.png)

The first line turns out fine, the second line is totally transformed and the third line seems to be ok again. See image above.

`const split = pdf.splitTextToSize(
    `Volgens deze overeenkomst/het

[2020-11-30 11:58] gevzak opened #3013 "Latest version not on NPM/ Types question"
I ran across an issue with the types and found the  #2894 which was fixed, but the version including the PR #2933  does not seem to be included in the latest published version on NPM.
If you can replicate this, can you suggest when it will become available?
My main problem at the moment is being unable to use it without custom tweaks because of ImageCompression and other options not be exported co

[2020-11-30 13:13] Ifeoluwa123 commented on #3009
Yes it works....but am unable to add background image to the PDF file

On Wed, Nov 25, 2020 at 8:37 AM Lukas Holländer <notifications@github.com>
wrote:

[2020-11-30 16:08] gevzak commented on #3013
Also, I discovered then when using the latest version where enums ImageCompression and ColorSpace exported, it leads to an 'ImageCompression.FAST is undefined' error, because jspdf does not export them.

[2020-12-01 05:02] luancloudmis opened #3015 "addImage function can't recognize ImageCompression variable"
Hi, I'm using jsPDF version 2.1.1. When I try to reduce the size of pdf file by using `ImageCompression`, but the text editor returns a problem
`No overload matches this call.
  Overload 1 of 3, '(imageData: string | HTMLImageElement | HTMLCanvasElement | Uint8Array, format: string, x: number, y: number, w: number, h: number, alias?: string, compression?: ImageCompression, rotation?: number): jsPD

[2020-12-02 07:56] FastLogic1 opened #3016 "how i add verdana ttf custom fonts to my jsPDF"
I want to add custom fonts for my PDF file but I am facing issues here is the code

(function (global, factory) {
    typeof exports === 'object' && typeof module !== 'undefined' ? factory(require('jspdf')) :
    typeof define === 'function' && define.amd ? define(['jspdf'], factory) :
    (global = global || self, factory(global.jspdf));
}(this, (function (jspdf) {
    'use strict';
    var jsPDF

[2020-12-02 07:57] FastLogic1 commented on #3016
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
       <script src="~/fonts/Verdana-normal.js"></script>

[2020-12-02 16:40] mounikathota commented on #1970
Has anyone found solution?

[2020-12-02 16:43] HackbrettXXX commented on #3016
Please use jsPDF@2.x. This will resolve the issue.

[2020-12-02 16:43] #3016 closed

[2020-12-02 16:46] HackbrettXXX commented on #3015
That's a known issue and will be fixed with the next release.

[2020-12-02 16:51] HackbrettXXX commented on #3013
Thanks for the PR :)

Regarding the ImageCompression.FAST is undefined: I noticed this, as well. Either we should convert the enum types to string union types or export the respective objects in JavaScript. I think the string union type is the better alternative, do you agree? Could you maybe also create a PR for this?

[2020-12-02 16:51] HackbrettXXX commented on #3015
Closing this in favor of #3013.

[2020-12-02 16:51] #3015 closed

[2020-12-02 16:53] HackbrettXXX commented on #3009
@Ifeoluwa123 there is an open PR for the background image issue: #2887. Maybe you could assist with that?

[2020-12-02 20:00] devobenavidez commented on #2966
Hello, i have the same issue with Angular, if i work with only one image works fine, but when is multiple or if i use again the method to addImage when is webp, throws the error:

`ERROR TypeError: a.getData is not a function
    at Object.t.processWEBP (jspdf.es.min.js:377)`

Please if you can find a solution i  will be very thankful

[2020-12-03 02:48] #3006 closed

[2020-12-03 13:48] HackbrettXXX commented on #2966
Could someone debug this? I'm currently lacking the time to look into such issues myself.

[2020-12-03 14:07] HackbrettXXX commented on #3012
That sounds like a bug where the encoding of the second line is wrong. Could you try passing the `maxWidth` option directly to the `text` instead of splitting the text beforehand?

[2020-12-03 14:08] HackbrettXXX commented on #2832
@MaximeMorin not really. I currently don't have the time to look into this myself.

[2020-12-03 14:15] HackbrettXXX commented on #3003
I'm on it ;)

[2020-12-03 14:19] HackbrettXXX commented on #3004
@michaelzangerle could you may try to fix this in the code? Since you already found out the reason for the issue, I think it should not be that hard to fix this in code.

[2020-12-03 14:20] brechtarnou commented on #3012
Hi,

I found the bug, the issue was the € sign. It probably has some encoding issues with it.

[2020-12-03 14:20] #3012 closed

[2020-12-03 14:23] HackbrettXXX commented on #3005
Not sure if we can do anything about this on jsPDF side. I'm closing this, but you can still use it for discussion.

[2020-12-03 14:23] #3005 closed

[2020-12-03 14:25] HackbrettXXX commented on #3012
AFAIK, there are multiple different € signs in Unicode. You probably used the wrong one. Use the one in the ASCII range.

[2020-12-03 14:49] HackbrettXXX commented on #763
@stefan123t that's a good suggestion, I think. I will accept a pull request for that. Make sure to implement it in a backwards compatible fashion, though.

[2020-12-03 14:50] michaelzangerle commented on #3004
@HackbrettXXX I just tried a bit around with GIMP as I am also affected by this issue in a project and had similar issues in the past. But I am afraid I am no JS developer and have no idea what this change of the image mode means in terms of the code here. Sorry :see_no_evil: If I can be of some help otherwise I will gladly do so.

[2020-12-03 14:54] HackbrettXXX commented on #2968
@potapovnikita which jsPDF version do you use? If it's not the current one please update.

@Rui-Jesus If this only works if the markup is passed as element, this might be an encoding issue of the file that contains the html markup?

[2020-12-03 15:03] HackbrettXXX commented on #3000
I created a PR: #3018. @Ceremony64 could you verify that this fixes the issue? Note, that you need to run `npm run build` to update the files in the dist folder.

[2020-12-03 15:05] pedrohenriiz commented on #3005
@HackbrettXXX Thanks for your response. If there is nothing to do on jsPDF side, do you know something that I can do to change the name? Thanks again.

[2020-12-03 15:10] HackbrettXXX commented on #2889
@klues what kind of issues did you face with svg2pdf? Feel free to open issues there ;)

I like the suggestion for addSvgAsImage. We still need canvg as fallback, though for older browsers, where `toDataUrl` is not supported. Could you provide a PR?

Closing this, but we can still use it for discussion purposes.

[2020-12-03 15:10] #2889 closed

[2020-12-03 15:14] HackbrettXXX commented on #2570
@Amarok74 could be related to #2904

[2020-12-03 15:15] klues commented on #2889
I don't remember it exactly, I think the images where just wrongly placed and sized using svg2pdf. I didn't investigate enough to open an issue there.

Yeah, I'll do a PR if I find time for it.

[2020-12-03 15:15] HackbrettXXX commented on #2889
Thanks.

[2020-12-03 15:20] HackbrettXXX commented on #2989
Sorry, but I don't fully understand your question. Could you please clarify what you mean, thanks.

[2020-12-03 15:21] HackbrettXXX commented on #2989
Closing this because I don't think it's an issue of jsPDF.

[2020-12-03 15:21] #2989 closed

[2020-12-03 15:23] HackbrettXXX commented on #2987
The `html2canvas` option is currently not for passing options to html2canvas, but for injecting the html2canvas option. We should probably improve this situation, though.

[2020-12-03 15:27] HackbrettXXX commented on #2985
We should probably depend on the npm [file-saver](https://www.npmjs.com/package/file-saver) module (or similar) instead of using our own file saver here.

[2020-12-03 15:28] #3010 closed

[2020-12-03 15:29] #2756 closed

[2020-12-03 15:35] H4C-K3R commented on #2989
@HackbrettXXX What is here that You are unable to understand.
I am just saying that the page size is not working in some devices.
I can send you some PDF to show that there is bug.

[2020-12-03 15:38] chucknelson commented on #2987
Thanks - not sure I understand what the difference is? The [`Html2CanvasOptions` type](https://github.com/MrRio/jsPDF/blob/master/types/index.d.ts#L85) supports the `onclone` option, and other options are respected by html2canvas.

In lieu of improving the situation, is there some way we can improve the documentation maybe? Not entirely sure what we'd say, but hoping to figure it out :)

[2020-12-03 16:04] AggelosM commented on #2985
https://github.com/eligrey/FileSaver.js/issues/649

[2020-12-03 16:17] arkkanoid opened #3019 "Chrome freezes while scrolling"
Hi,
I generated a PDF using jsPDF (40 pages, 3,6MB). When I open it using Chrome it freezes and it's very difficult to scroll down.
It works perfectly using Acrobat Reader or the default viewer on OSX.
Using a very similar PDF created with Keynote (OSX) it works on Chrome.
I've the same issue using different computers.

Do you know how can I solve it?

Thanks

[2020-12-03 18:27] IgorKurkov commented on #2295
My best to set margin was
[code]
hope it helps someone fix troubles fastly

[2020-12-04 02:06] zicklag commented on #1487
Works for me, thanks!

[2020-12-04 08:24] Miqueliu commented on #3010
Nice! Thanks.

Now it is necessary upgrade version for Bower detects this change.

[2020-12-04 10:02] HackbrettXXX commented on #3019
Please attach the PDF file.

[2020-12-04 10:03] HackbrettXXX commented on #2985
Mmh, well then I really doubt we can do much about that...

[2020-12-04 10:08] HackbrettXXX commented on #2987
Ah sorry, I wrote "html2canvas option" instead of "html2canvas module". The typings suggest that you can pass html2canvas options to html2canvas, but that's unfortunately not true/not implemented. I'm willing to accept a PR that will improve this situation. Passing options to html2canvas should really be possible. For backwards compatibility, we should probably check if the argument is the html2ca

[2020-12-04 10:10] HackbrettXXX commented on #2989
Ok, then please state on which devices the bug occurs and share a simple snippet that reproduces the issue.

[2020-12-04 21:44] jcknight77 commented on #2617
Promise undefined, option { returnPromise: true }, not working.

[2020-12-06 17:32] iljayas commented on #2519
I am facing the same issue. still no solution for this issue?

[2020-12-07 01:58] #2888 closed

[2020-12-07 06:07] vbinithyanandamv commented on #2925
can i try this?

[2020-12-07 08:58] HackbrettXXX commented on #2925
Since the others didn't make a contribution, sure go ahead ;)

[2020-12-07 09:01] HackbrettXXX commented on #2519
Not that I know of. Seems like a bug to me. @iljayas could you investigate why this happens?

[2020-12-07 09:02] HackbrettXXX commented on #2617
@jcknight77 did you include the [polyfills](https://github.com/MrRio/jsPDF#polyfills)?

[2020-12-07 09:06] #2743 closed

[2020-12-07 09:07] HackbrettXXX commented on #2904
Fixed in #2944.

[2020-12-07 09:07] #2904 closed

[2020-12-07 09:17] Ifeoluwa123 commented on #3009
Thanks, I'll check it out.

On Wed, Dec 2, 2020 at 8:54 AM Lukas Holländer <notifications@github.com>
wrote:

[2020-12-07 09:56] #3000 closed

[2020-12-07 13:47] jcknight77 commented on #2617
i'm working with google chrome browser, my code at vue.js project is:
`doc.save(`${filename}.pdf`, { returnPromise: true }).then((val) => console.log(val))`

val return undefined, that's correct?

[2020-12-07 14:23] HackbrettXXX commented on #2617
What do you expect `val` to be? `save` returns a promise with undefined value.

[2020-12-07 14:54] HackbrettXXX commented on #3003
It's out: [v2.2.0](https://github.com/MrRio/jsPDF/releases/tag/v2.2.0)

[2020-12-07 14:54] #3003 closed

[2020-12-07 15:03] amadese commented on #2854
Hi experts,

The issue with special characters is still present in the new release.  Using a custom font didn't resolve the issue.
Nobody has found a solution about that ?

[2020-12-08 08:55] HackbrettXXX commented on #2854
@amadese AFAIK no. I would be very happy, though, if someone from the community could investigate this :)

[2020-12-08 09:39] Razi321 opened #3024 "i can't fetch data from the api into the pdf"
i'm using react-admin and I wanna download a pdf file which contains  data from the posts details page ! to get the data from the api in any tag I want ( not those pre-prepared by react-admin I did the following :

    import PropTypes from 'prop-types';

    const   Text = ({ source, record = {} }) => <span>{record[source]}</span>;
    TextField.propTypes = {
      label: PropTypes.string,

[2020-12-08 10:40] HackbrettXXX commented on #3024
If I read this correctly, your use case boils down to adding html to the PDF doc. That's possible with the [html](http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html#~html) method.

[2020-12-08 11:28] sayo96 opened #3025 "Unable to generate pdf from dataUrl"
I'm pretty much new into this library but i could not find a method which would allow me to generate a pdf from a  pdf dataUrl.
**Sample dataUrl:** `data:application/pdf;base64,JVBERi0xLjUNCiXx+ff2DQolMy4zDQo2IDAgb2JqDQo8PA0KL0JpdHNQZXJDb21wb25lbnQgOCANCi9Db2xvclNwYWNlIC9EZXZpY2VSR0IgDQovRmlsdGVyIFsgL0ZsYXRlRGVjb2RlIC9EQ1REZWNvZGUgXQ0KDQovSGVpZ2h0IDIyMDAgDQovTGVuZ3RoIDcgMCBSIA0KL05hbWUgL0ltYWdlUGF

[2020-12-08 12:39] HackbrettXXX commented on #3025
Sorry, but from your description I don't fully understand what you want to achieve. Do you want to convert a PDF file to a PNG image or to you want to convert a PNG image to a PDF? Or do you want to read a PDF file, add a PNG image and save it again? Please clarify.

Please also note that jsPDF does not support parsing or modifying existing PDF files.

[2020-12-08 12:47] sayo96 commented on #3025
So here is what i want to do:
1. In the frontend of my app, i allow the users to upload a pdf file. I read that pdf file using the native  js FileReader like :
[code]
2. This would give me a pdf data url like
Sample dataUrl: data:application/pdf;base64,JVBERi0xLjUNCiXx+ff2DQolMy4zDQo2IDAgb2JqDQo8PA0KL0JpdHNQZXJDb21wb25lbnQgOCANCi9Db2xvclNwYWNlIC9EZXZpY2VSR0IgDQovRmlsdGVyIFsgL0ZsYXRlRGVjb2RlIC9EQ1R

[2020-12-08 16:47] HackbrettXXX commented on #3025
Unfortunately, this is not possible  with jsPDF. JsPDF cannot parse existing files and cannot convert a PDF file to an image.

[2020-12-08 16:47] #3025 closed

[2020-12-09 02:00] #2170 closed

[2020-12-09 07:23] vbinithyanandamv commented on #2920
I can take this, if no one is proceeding with it. @HackbrettXXX  Can you provide me some direction on this one.

[2020-12-09 08:11] Razi321 commented on #3024
to be honest i couldn't understand the documentation that much ! i tried what's there but still didn't work ! i don't know yet how to add the tag with the data that i created to that function
the tag for example like :
`<Text  label ="Mine" source='title'/>

and when i put the code from the documentation to in my app it download automatically a pdf with 3 pages and contains only the words in the d

[2020-12-09 08:27] sesmic opened #3027 "Error Using Latest version on Browser"
I am trying to use jsPDF, but when I use the CDN URL given below,

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js"></script>

We get the following error,

    Summary:4644 Uncaught ReferenceError: jsPDF is not defined

But when I use the one below which is the older version it works,

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.de

[2020-12-09 09:11] HackbrettXXX commented on #3027
We changed the global variable to `jspdf` in 2.0.0. The jsPDF constructor is available under `window.jspdf.jsPDF`. See also the [release notes](https://github.com/MrRio/jsPDF/releases/tag/v2.0.0).

[2020-12-09 09:11] #3027 closed

[2020-12-09 11:27] vbinithyanandamv commented on #2925
@HackbrettXXX  can you point some direction on this one?

[2020-12-09 13:11] mojtaba-khallash opened #3028 "Table header aligns always left"
Executing the following code snippet in [live demo](http://raw.githack.com/MrRio/jsPDF/master/) is expected to create a table that all its rows including the header `center` align.

[code]
But contrary to expectations, the header has been `left` align!

![image](https://user-images.githubusercontent.com/3192517/101633153-1fbf1f80-3a3c-11eb-945f-71940b1a26ed.png)

The problem seems to be from the b

[2020-12-09 17:20] josephcummings opened #3029 "addImage | ImageCompression does not work in Typescript"
I am currently using this library in a Typescript project, using the jsPDF package from NPM.

I am creating a PDF with many images and noticed the size of the PDF was getting rather large and decided to use the ImageCompression option of the `addImage` function.

Unfortunately it does not seem to work, the type definitions for `addImage` function define a contract for the `ImageCompression` argume

[2020-12-09 17:22] josephcummings commented on #3029
For now I will continue to use a frozen version of the library with type definition modified until this is reviewed.

[2020-12-09 20:58] toysonlocation opened #3030 "Support for OTF fonts"
I see that this has come up here and there, but OTF support would be a hugely welcome addition. Most of the fonts I use, for design and such, are in OTF format. I've tried converting OTF fonts to TTF using FontLab 7 (to both OpenType TTF and to Variable TTF formats) to no avail. I've also tried numerous online services. They all produce the same `!"##$%&$'#(` for "Hello World" at https://sphilee.g

[2020-12-10 01:27] cakesforfree commented on #2968
It works, and it works wonderfully, thank you <3

[2020-12-10 04:39] raj-git96 commented on #1906
++++++++++++++++++++++++++++++++++++++++++++++
I suffer from same issue. can any one help me to out from this issue? Thanks!

[2020-12-10 08:14] FastLogic1 opened #3031 "How we change JsPdf text field mouse hover color ?"
I want to change the below text field mouse hover color to white.
![TextFieldColor](https://user-images.githubusercontent.com/58168985/101739606-982fea00-3ae9-11eb-9783-1d3ded799ec1.JPG)

[2020-12-10 09:17] HackbrettXXX commented on #3028
Thanks for the report. Your suggested fix seems reasonable. Could you prepare a PR?

[2020-12-10 09:18] HackbrettXXX commented on #3029
Please update to v2.2.0, we fixed this issue there ;)

[2020-12-10 09:22] HackbrettXXX commented on #3030
Duplicate of #2276.

I agree, this would be a really nice feature.  I won't have the time to implement such complex features myself. I will definitively merge a pull request from the community, though.

[2020-12-10 09:35] HackbrettXXX commented on #2925
@vbinithyanandamv I would assume, we can just pass the correct `width` or `windowWidth` options to html2canvas. We probably need to consider the `internal.scaleFactor` to convert the PDF unit to pixels. I hope this does the trick. Maybe we also need to set the width of the `canvas.js` module.

[2020-12-10 09:56] josephcummings commented on #3029
Gah, 3 days ago, should've seen that!

Thanks.

[2020-12-10 09:56] #3029 closed

[2020-12-10 10:01] HackbrettXXX commented on #2920
@vbinithyanandamv font style and font weight are currently stored in the [`fontStyle`](https://github.com/MrRio/jsPDF/blob/master/src/jspdf.js#L2420) field of a font object. Possible values currently are "normal", "italic", "bold", and "bolditalic".

In an optimal solution, we would probably completely separate font style and font weight. This would add another parameter to methods like `addFont`

[2020-12-10 10:29] FastLogic1 commented on #3028
@mojtaba-khallash
if your are using autotable then use this line of code
headStyles: { halign: 'center'},

[2020-12-10 10:48] mojtaba-khallash commented on #3028
I'm aware of this plugin, but generating the table in this way now meets my needs.

[2020-12-10 11:09] vbinithyanandamv commented on #2920
@HackbrettXXX  So should i just provide an API

`doc.addFont('Roboto-Medium.ttf', 'Roboto', 'normal', '500');`

and when adding will combine it out

`fonstyle: 'normal500'`

will that be a good way to go about it?

[2020-12-10 11:21] vj-abishek opened #3033 "TypeError: Cannot read property 'bind' of undefined"
Error:
Cant able to build my app, but works normally in development mode
Tried to downgrade to v2.1.1

framework:
Gatsby

To reproduce:
gatsby build

jsPDF version: 2.2.0

error snapshot:
[code]

Any solution?

[2020-12-10 16:55] XeniaPie commented on #2892
Here's some useful info. Hope it helps! http://html2canvas.hertzen.com/getting-started

[2020-12-10 19:57] toysonlocation commented on #3030
Thanks for the response! Separately, though, there is the issue of some TTFs rendering in the same "curse chars" way. I have many, and even at least one official MS font (ahronbd.ttf), that are coming up wrong. Is this something to look into?

[2020-12-11 02:22] bmckilligan opened #3034 "Typescript does not allow null for style parameter in rect()"
when trying to create a clipping rectangle using rect(x, y, w, h, style) with style = null
typescript definition is showing null as an invalid argument option

using ` rect(x, y, w, h)` or` rect(x, y, w, h, undefined)` does not create the proper clipping rectangle

changing line 722 in jsPDF/types/index.d.ts seams to work
from:
`rect(x: number, y: number, w: number, h: number, style?: string): jsP

[2020-12-11 09:14] HackbrettXXX commented on #3034
I agree. Could you prepare a pull request? Also change the other shape methods accordingly.

Tip: when switching to `advancedAPI`, the style parameter is truly optional, and you can fill/stroke with the `clip`/`stroke` etc. methods.

[2020-12-11 09:16] HackbrettXXX commented on #3030
AFAIK, some features of TTF are not supported, so this might very well be the reason.

[2020-12-11 10:00] HackbrettXXX commented on #2920
The public API method currently has only 4 parameters:
[code]
Since the encoding parameter is optional and has only 4 valid values ("StandardEncoding", "MacRomanEncoding", "Identity-H", "WinAnsiEncoding"), I think we can put the new `fontWeight` parameter in between:
[code]
Make sure that passing an encoding without `fontWeight` will still work. Also, I think we should allow numbers and strings as

[2020-12-11 10:05] vbinithyanandamv commented on #2920
@HackbrettXXX  Makes senes.  How do u think we should handle the invalid case?  Throwing error or any standard we already follow on that?

[2020-12-11 10:10] HackbrettXXX commented on #3033
This means that `atob` and `btoa` are not defined in your environment. In the node version (`dist/jspdf.node.js`), the respective npm modules are loaded with `require`. The es version (`dist/jspdf.es.js`) is meant to run in a browser, where `atob` and `btoa` are usually available on `window`.

I'm not very familiar with Gatsby, but it seems like it doesn't run jspdf in a browser environment. You c

[2020-12-11 10:11] HackbrettXXX commented on #2920
I think throwing an error is good :)

[2020-12-11 15:29] vj-abishek commented on #3033
Is there any way to set node as the default file in the locally installed jspdf version instead of loading from CDN?

[2020-12-11 15:29] #3033 closed

[2020-12-13 22:26] caranad opened #3037 "jsPDF fails with CSP"
Hi everyone,

I'm working on an application that incorporates jsPDF in it, and also has some Content Security Policies embedded within it. Every time I keep running into an issue with document-cloner.ts with documentClone.write, and I'm literally at my wit's end how to diagnose it. I tried forking the repository and replacing the document.write with documentClone.body.appendChild but to no avail..

[2020-12-14 02:06] #2896 closed

[2020-12-14 09:36] #3028 closed

[2020-12-15 02:08] #2860 closed

[2020-12-15 10:24] mojtaba-khallash opened #3038 "Event for start printing row and cell"
The purpose of this feature is to provide an event before printing a row or cell that the user decides to change the text color or font size or bold the text based on the row/column number or the data in that cell.

[code]

[2020-12-15 10:47] Rui-Jesus commented on #2968
@HackbrettXXX I did not test passing a file with the html markup, I had it stored in memory. To be honest I didn't look too much into the issue since the solution I provided works perfectly for me.

[2020-12-15 22:04] laazaz commented on #2208
I've fixed this by allowing GIT 9418 port and 22 port on the firewall settings, I don't know which fixed the problem though.

[2020-12-16 10:10] HackbrettXXX commented on #3038
Would be a neat feature, I agree. I'm wondering, though, if complex table features like this should rather be implemented in the [AutoTable plugin](https://github.com/simonbengtsson/jsPDF-AutoTable).

[2020-12-16 11:01] mojtaba-khallash commented on #3038
Due to limitations, it is not possible for me to install `AutoTable` plugin in deployment environment, and the existence of this feature will solve my problem.

[2020-12-17 08:17] thepushkarraj commented on #2992
thanks @HackbrettXXX

[2020-12-17 09:55] k1r0s commented on #2025
any chances that passthrough would happen any time soon?

[2020-12-18 08:16] kantsverma opened #3041 "Uncaught TypeError: TextField is not a constructor"
Feature requests, bug reports etc. are very welcome as issues. But questions are directed to stackoverflow with the tag `jspdf`.

If you are facing issues with utf-8 characters, please refer to [#2677](https://github.com/MrRio/jsPDF/issues/2677).

Note that bug reports should follow these guidelines:

1. A bug should be reported as an [mcve](https://stackoverflow.com/help/mcve)
2. Make sure code i

[2020-12-18 13:17] lucasReghiniM commented on #1959
How can i do this Dynamic import without being with a XML/REACT component?

I have a translate file and i need to use it.

[code]
When i do this dynamic import it understand the EN/PT file return this error :

[code]

How can i do that?  I had a issue where in forum and i trying to solve whti this: https://github.com/vercel/next.js/discussions/20298

[2020-12-18 13:59] lucasReghiniM commented on #1959
OBS: Im using Typerscript

[2020-12-18 14:54] HackbrettXXX commented on #3041
If you read carefully: `var TextField = jsPDF.AcroForm` this can obviously not work. This should be `var TextField = jsPDF.AcroForm.TextField;`.

[2020-12-18 14:54] #3041 closed

[2020-12-18 15:05] HackbrettXXX commented on #2025
@k1r0s That's currently not planned... a PR is very much welcome, though :)

[2020-12-18 15:20] HackbrettXXX commented on #3038
Maybe then it would be better to solve these limitations? I tend towards keeping the jsPDF core as small as possible, especially if there are already 3rd party plugins that do a way better job.

[2020-12-18 15:28] mojtaba-khallash commented on #3038
You are right, but I did not add any logic to the library, and this feature is only available with a very small change. I do not think it will increase the size of this library much.

I will not add anything else to this library :)

[2020-12-18 17:38] f4bb1o opened #3042 "Ionic sidemenu and jsPDF"
Hi,
i have a problem with ionic.
When I save the pdf, the sidemenu is disabled. The code is the follow

`   var doc = new jsPDF('p', 'px', 'a4');

    var elementToPrint = document.getElementById('content')

    doc.html(elementToPrint, {

        html2canvas: {
            scale: 0.7
        },
        callback: function (doc) {
            doc.save();
            that.menu.enable(true, 'menu');

[2020-12-20 09:38] ngocbnu213 opened #3043 "jsPDF build failed with create-react-app"
I'm using jsPDF in my react application. When I try to use command `npm run build ` to build my application but I got this error
![image](https://user-images.githubusercontent.com/64132647/102709888-de5b2980-42f1-11eb-821d-c35e9ad87641.png)

I'm using version `2.1.0`. I also had tried to upgrade to newest version but I still have same error. I have a quick look into file `jspdf.es.min.js` and I sa

[2020-12-21 08:08] kantsverma commented on #3041
Still not working you can try with above code. new error is "Uncaught TypeError: Cannot read property 'TextField' of undefined"

[2020-12-21 09:43] Vladislav747 opened #3044 "Can't load image in table with url from another site."
Hello to all!

I am currently facing problem with placing an image in table of data. So i have an image for example from another site and load it when i creating table list for pdf - example here https://codesandbox.io/s/example-jspdf-094yu . But i can't see image when i place inside of onload

`items.map((item, index) => {
      var img = new Image();
      img.src = `${item.img}`;

      img.onl

[2020-12-21 10:04] HackbrettXXX commented on #3041
I just saw you use a _really_ old version of jsPDF. Please update to a 2.x version. This should fix the issue.

[2020-12-21 10:23] HackbrettXXX commented on #3043
Please state exactly which versions work and which versions don't. Please also provide a small repro. Otherwise we can't help you.

[2020-12-21 10:26] HackbrettXXX commented on #3042
Do you mean the sidemenu when viewing the PDF? Please provide a complete repro and the exact steps to reproduce the issue.

[2020-12-21 10:43] f4bb1o commented on #3042
Hi, thanks for the response.
I have a ionic application with <ion-menu> and <ion-split-pane> . When I click the button to save the html to pdf (this button is located inside a page in right side), the sidemenu collapse and doesn't works anymore, but the pdf created correctly.

[2020-12-21 10:48] HackbrettXXX commented on #3042
I'm pretty sure this has nothing to do with jsPDF in particular.

I'm closing this for now. If you think this is really an issue of jsPDF, feel free to reopen.

[2020-12-21 10:48] #3042 closed

[2020-12-21 11:08] Vladislav747 commented on #3044
I am sorry. I've found mistake myself. Error was with my concatenation.

[2020-12-21 11:08] #3044 closed

[2020-12-21 11:24] HackbrettXXX commented on #3038
I agree that it won't increase the bundle size very much. But it will increase the size and complexity of the API and it will increase maintenance effort. That's why I don't think we should add it to the jsPDF core.

And you can always create your own plugin: copy the cell.js plugin code, add your changes and use it as external plugin. Should work pretty easy.

[2020-12-22 00:35] bmckilligan commented on #3034
using the advancedAPI still doesn't seam to resolve the issue with clipping, I have been trying

`doc.advancedAPI((d) => { d.rect(a,y,w,h); });`

I don't have time at the moment to go through and fix the other shape methods and create the tests etc...  I am not familiar with the code base

[2020-12-22 01:59] ngocbnu213 commented on #3043
Both version `2.10` and `2.2.0 `were not working. In my project I'm using version` 2.1.0` but when I installed dependencies I see jspdf try to download version `2.2.0`. It's easy to reproduce. You have a react application. Add jspdf version` 2.1.0 `to your `package.json` Then use these commands `npm install`, `npm run build`. Error will happens
My package.json:
![image](https://user-images.githubu

[2020-12-22 08:38] kantsverma commented on #3041
@HackbrettXXX  thank you i resolved that now i have problem with render html from html to pdf  below code is not working.
var element = $('.product-single__description').html();
doc.html(element, {
  callback: function (pdf) {
  console.log('Inside callback');
  doc.save('html.pdf');
  },
	  x: 105,
	  y: 120
});

[2020-12-22 08:59] HackbrettXXX commented on #3041
Make sure code is properly indented and formatted (Use ``` around code blocks)
Provide a runnable example.
Try to make sure and show in your issue that the issue is actually related to jspdf and not your framework of choice your setup.

If you want us to help you please provide us with all the necessary information, such as: what exactly goes wrong? Are there any exceptions? Maybe attach the creat

[2020-12-22 09:09] HackbrettXXX commented on #3043
Can't reproduce. What I did is:

[code]
-> works

I added this code to `src/index.js`:
[code]

`yarn start` and `yarn build` still work and the app downloads an empty PDF on startup as expected.

[2020-12-22 09:12] #2938 closed

[2020-12-22 09:36] HackbrettXXX commented on #2920
Resolved in #3036.

[2020-12-22 09:36] #2920 closed

[2020-12-22 10:56] kantsverma opened #3045 "Error: Could not load dompurify: Error: Could not load dompurify"
Feature requests, bug reports etc. are very welcome as issues. But questions are directed to stackoverflow with the tag `jspdf`.

If you are facing issues with utf-8 characters, please refer to [#2677](https://github.com/MrRio/jsPDF/issues/2677).

Note that bug reports should follow these guidelines:

1. A bug should be reported as an [mcve](https://stackoverflow.com/help/mcve)
2. Make sure code i

[2020-12-22 13:43] HackbrettXXX commented on #3045
As the error message says, you need to load dompurify. When you're using script tags, include a script tag for Dompurify.

[2020-12-22 13:43] #3045 closed

[2020-12-22 13:48] kantsverma commented on #3045
But i loaded the library from cdn link so its should work

[2020-12-22 14:01] HackbrettXXX commented on #3045
Dompurify is an external/optional dependency like html2canvas and is not included in the jspdf bundle.

[2020-12-23 08:36] #2699 closed

[2020-12-23 19:09] michaellev opened #3046 "Bug? How can I display Hebrew text in a table? doc.text() does it, but doc.table does not"
After installing Hebrew fonts, doc.text(...) displays them, whilst doc.table(...) does not.
How can I display Hebrew text in a table?
I'm attaching the pdf file and here is my example code:

 let doc = new jsPDF.jsPDF();
doc.addFont('libs/ofek/fonts/David.ttf', 'David', 'normal'); // this works
doc.addFont('libs/ofek/fonts/davidbd.ttf', 'davidbd', 'bold'); // this works
doc.setFont("David", "norma

[2020-12-24 09:13] kantsverma commented on #2885
I am also facing the same issues. I am using the below code.

[code]
Here is the PDF generating
[Generated PDF](https://github.com/MrRio/jsPDF/files/5738960/testPdf.pdf)
[testPdf.pdf](https://github.com/MrRio/jsPDF/files/5738960/testPdf.pdf)

[2020-12-24 09:37] HackbrettXXX commented on #3046
That's odd. I just tested it with different fonts (Batang) and different characters (which should in theory make no difference), and it works. Does this only happen with your specific font? Or only with Hebrew characters? Which jsPDF version do you have?

[2020-12-24 10:22] michaellev commented on #3046
Thank you very much for your response.

I use jsPDF Version 2.2.0 Built on 2020-12-07T14:12:49.843Z

I need Hebrew, the specific font not so important, so I downloaded font David (David.ttf and davidbd.ttf) which I downloaded from [freefontsdownload.net](https://freefontsdownload.net/free-david-font-70642.htm)

I will greatly appreciate your help, since it's indeed weird that doc.text() displays H

[2020-12-24 11:25] michaellev commented on #3046
When I do copy/paste from https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js into visual studio and save it, visual studio asks: "some Unicde characters in this file could not be saved in the current codepage. Do you want to resave this file as Unicode in order to maintain your data?" I answered "yes"

[2020-12-24 11:30] andrushkodmytro commented on #1893
const input = document.getElementById(id);

        html2canvas(input, { useCORS: true, allowTaint: true, scrollY: 0 }).then((canvas) => {
          const image = { type: 'jpeg', quality: 0.98 };
          const margin = [0.5, 0.5];
          const filename = 'myfile.pdf';

          var imgWidth = 8.5;
          var pageHeight = 11;

          var innerPageWidth = imgWidth - margin[0] * 2;

[2020-12-24 11:50] michaellev commented on #3046
[link to jspdf js file as I have is](https://www.dropbox.com/sh/16k4506sby5c5ce/AADVO6RKSbmMJm0PvD6mpE5oa?dl=0)

[2020-12-25 08:56] michaellev commented on #3046
Dear Lucas,
I’ll appreciate and be thankful if you help in solving my problem that doc.table() doesn’t display Hebrew fonts (whilst at the same time, doc.text() does

[2020-12-26 04:59] rhdave96 commented on #1893
@nithinpeter191 Sorry for too late response .
I have changed in my jspdf.js file .. configuration changes in Thais file and set of some changes and path ..like : path changes and canvas configuration

[2020-12-26 05:00] rhdave96 commented on #1893
@Shekhar12121  also check my comment .
And btw i am not lying and if you solved it then please comment and prove you are solved this problem..😀

[2020-12-28 07:48] akkravikumar commented on #3043
Im also facing this issue

[2020-12-28 09:35] kantsverma commented on #3045
yes it work for me but not the another issues is .html() print large size of text :(

[2020-12-28 12:08] brunoalex opened #3048 "image output base64 on cordova"
im trying to convert images from galery into a pdf but my pdf dont display my images

my code:

[code]
can any one give me a hand ? tks

[2020-12-28 14:14] pustovalov opened #3049 "core-js duplication"
Hey,

During migration `1.5.3` -> `2.2.0`

`jspdf` began to add to the bundle own version of `core-js-pure` but my project already using `core-js:3.6.0`

What do you think about to remove `core-js` from `jspdf` and let the user decide for himself which polyfills to add?

[2020-12-28 22:56] jfajardo commented on #3043
I had the same problem, I downgrade the version to "jspdf": "2.0.0" and works fine in Vercel

[code]

[2020-12-29 05:44] dhineshdhanapal opened #3050 "Add Font / set font is not working when we use api.html method to print html page into pdf"
My code example is as below.

<html>
<body>
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        crossorigin="anonymous"></script>
    <script src="http://raw.githack.com/MrRio/jsPDF/master/dist/jspdf.umd.js" ></script>
    <script>
        function exportPDF(){
            var pdf = new jspdf.jsPDF();
            // callAddFont();

            pdf.addFont("http://raw.githack.

[2020-12-29 10:03] mekacloud commented on #3050
follow this instruction

[https://github.com/MrRio/jsPDF#use-of-unicode-characters--utf-8](https://github.com/MrRio/jsPDF#use-of-unicode-characters--utf-8)

[2020-12-29 12:13] AmirHosseinJ opened #3051 "use jspdf in for loop"
hi all
I have a problem when generating pdf file with a for loop,
It always result in just 1st doc.text() and others are ommited but they are presented in console log
I have already used Promises and Promise.all() and timeout.

` const promises = [];
                for (let i = 0; i < purchaseData.items.length; i++) {
                    promises.push(createTableRow(i, purchaseData.items));

[2020-12-29 12:59] dhineshdhanapal commented on #3050
@mekacloud  thanks for the update. it worked. but when we use html method, it needs html2canvas. is it mandatory? can we create pdf without using html2canvas? html2canvas creates pdf with screenshot of our page. but we need the content to be copied from pdf.

Error message: html.js:50 Uncaught (in promise) Error: Could not load html2canvas: Error: Could not load html2canvas

[2020-12-29 18:30] tahir-jamil commented on #762
any update?

[2020-12-30 02:25] #2923 closed

[2020-12-30 02:25] #2916 closed

[2020-12-30 12:53] Angelk90 opened #3052 "jspdf too long texts in the table are cut off"
Hi @MrRio , @HackbrettXXX :

As you can see from the image I am having the problem if I have a very long text as you see, the final part of the text is cut off and the cell does not continue on the next page.

Can you give me a hand?

![](https://i.stack.imgur.com/U4Q08.png)

Code:

[code]

[2020-12-31 04:50] johnEthicalTechnology opened #3053 "getTextDimensions expects text-parameter to be of type String or type Number or an Array of Strings."
I'm using Typescript in a React project and I follow the example for creating a table on the Live Demo site but I get the following error: `getTextDimensions expects text-parameter to be of type String or type Number or an Array of Strings.`

I check the type of the arguments for `.table()` and the `headers` argument is `string[]` which is unexpected because the demo is using `object[]`. I change

[2021-01-04 06:55] kmsharjas opened #3055 "How to Add Watermark in Pdf"
I want to set a watermark in PDF. How can I do that???

[2021-01-05 13:31] zyrius124 opened #3056 "external HTML"
Hi ,

How can in i a external HTML-data convert with jspdf too a PDF?
And how can i open it in a new Tab?

[2021-01-06 04:41] mounikathota commented on #1893
@rhdave96 can you please post your working solution?

Did anyone find a solution for this?

[2021-01-06 09:05] RavindraLodhi opened #3057 "language issue"
language is not supporting other then English when download HTML to PDF in angular .

my code

  @ViewChild('reportContent') reportContent: ElementRef;

    downloadPdf() {
    const doc = new jsPDF();
    const specialElementHandlers = {
      '#editor': function (element, renderer) {
        return true;
      }
    };

    const content = this.reportContent.nativeElement;

    doc.fromHTML(cont

[2021-01-06 14:15] Vishwa17 commented on #2719
Always use
`const { jsPDF } = require("jspdf"); ` ---> define like this in nodejs if your file is .js extension

    `const doc = new jsPDF('p');`

Then like this, it will work smoothly

[2021-01-07 09:18] YJMQN commented on #3057
The fromHTML method uses the default font and only supports English. You might want to override this method to get support in other languages.
But in version 2.2.0, when I overwrote this method, I couldn't support the fonts I added customizable, I'm working on it, or if you have any good ideas, please share with me

[2021-01-08 09:52] shubhamcognologix opened #3058 "ul, li bullets not displaying as expected."
![Screenshot from 2021-01-08 15-20-30](https://user-images.githubusercontent.com/66866713/104001151-4308f600-51c5-11eb-867b-b180c1671c3e.png)

this is the code

framwork - react + next.js

    window.html2canvas = html2canvas;
    var doc = new jsPDF('p', 'mm', [300, 380]);

    var content = document.getElementById('jobDescription');
    doc.html(content, {
      callback: function(doc) {

[2021-01-08 09:54] shubhamcognologix commented on #3058
I am using this plugin with react +  next.js

[2021-01-11 02:43] #2940 closed

[2021-01-11 02:43] #2941 closed

[2021-01-11 02:43] #2937 closed

[2021-01-11 02:43] #2891 closed

[2021-01-11 02:43] #2791 closed

[2021-01-11 04:32] VuDangKhoa1993 commented on #1476
u are very stupid !

[2021-01-11 10:21] HackbrettXXX commented on #3043
@jfajardo, @akkravikumar Please attach or link to a small project that reproduces the issue, otherwise we can't help you.

[2021-01-11 10:28] HackbrettXXX commented on #3048
Please clean up your code sample (reduce it to what's really necessary to reproduce the issue) and surround it with ` ``` `. My first guess would be you might run into CORS restrictions. If that's not the case, please clarify the issue. Please also check if there are any errors on the developer console, exceptions, etc.

[2021-01-11 10:34] HackbrettXXX commented on #3049
This is exactly why the "included" polyfills are completely optional: `core-js` is an optional npm dependency, and the polyfills are only included if you manually import one of the `dist/polyfills` files.

[2021-01-11 10:36] HackbrettXXX commented on #3050
@dhineshdhanapal html2canvas is a required dependency for the `html` method. But no worries, the html is not rendered as image into the PDF but as text/vector graphics.

[2021-01-11 10:36] #3050 closed

[2021-01-11 10:40] HackbrettXXX commented on #3051
Are there any errors/exceptions in the developer console? At a first glance the code looks fine to me.

[2021-01-11 10:47] HackbrettXXX commented on #3052
I think breaking a single cell over multiple pages is just not designated. You might try the [AutoTable](https://github.com/simonbengtsson/jsPDF-AutoTable) plugin. Pull requests are also welcome :)

[2021-01-11 10:52] HackbrettXXX commented on #3053
You have a typo in your code snippet ;)
[code]
This results in an `undefined` text for a cell.

[2021-01-11 10:52] #3053 closed

[2021-01-11 11:12] pustovalov commented on #3049
I'm using `jspdf` in this way:

`import jsPDF from 'jspdf'`

with this use, the polyfills get into a bundle

[2021-01-11 11:20] HackbrettXXX commented on #3055
See #2878, #872.

[2021-01-11 11:20] #3055 closed

[2021-01-11 11:24] HackbrettXXX commented on #3056
1. Retrieve the HTML markup as text
1. Call the [html](http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html#~html) method
2. Call `doc.output('dataurlnewwindow')` in the `html()` callback.

[2021-01-11 11:24] #3056 closed

[2021-01-11 11:26] HackbrettXXX commented on #3057
You might try the `html` method instead of `fromHTML` and update to the latest jsPDF version.

[2021-01-11 11:30] HackbrettXXX commented on #2952
Fixed.

[2021-01-11 11:30] #2952 closed

[2021-01-11 11:35] HackbrettXXX commented on #3058
Duplicate of #2922.

[2021-01-11 11:35] #3058 closed

[2021-01-11 11:47] HackbrettXXX commented on #3049
Which build tool do you use? Please share a small project so I can reproduce.

[2021-01-11 12:06] pustovalov commented on #3049
Reproduce:
https://github.com/pustovalov/jspdf-corejs-demo

1.5.3
![image](https://user-images.githubusercontent.com/1568885/104180683-3202f380-5416-11eb-98b1-d5247abaee49.png)

2.2.0
![image](https://user-images.githubusercontent.com/1568885/104180691-37f8d480-5416-11eb-9709-2bd8573ee497.png)

￼

[2021-01-11 12:46] Angelk90 commented on #3052
@HackbrettXXX : Do you recommend using another module?

[2021-01-11 13:02] HackbrettXXX commented on #3052
The AutoTable plugin is more powerful than the built-in `table` function. I don't know if it supports splitting a single cell over multiple pages, though. I have never used it myself. But I suggest you give the plugin a try before we try to extend the `table` function.

[2021-01-11 13:07] Angelk90 commented on #3052
@HackbrettXXX : If I wanted to give it a try how can I make sure to see the pdf directly on the page in reactjs, without having to download it using `doc.save ('table.pdf')`?

[2021-01-11 13:13] HackbrettXXX commented on #3052
You can display it in an iframe and set its `src` to `doc.output('datauristring')` or `doc.output('bloburl')`.

[2021-01-11 13:29] HackbrettXXX commented on #3049
Ah, I see. `core-js-pure` is an indirect dependency of canvg. You should probably move this issue to the canvg repository. To get rid of this dependency you can [mark canvg as external](https://github.com/MrRio/jsPDF#optional-dependencies) (assuming you don't use the `addSvgAsImage` function). You can do the same with `html2canvas` if you don't use the `html` function.

[2021-01-11 13:29] #3049 closed

[2021-01-11 13:45] Angelk90 commented on #3052
@HackbrettXXX : Could you tell me where I'm wrong: https://codesandbox.io/s/unruffled-boyd-esxzv?file=/src/App.js:0-741

[2021-01-11 13:55] HackbrettXXX commented on #3052
Use 'datauristring' instead of 'datauri', this will display the iframe correctly. However, it seems like the PDF is not updated. But this seems like a react specific issue to me. The doc.output() call returns the correct URI.

[2021-01-11 14:12] Angelk90 commented on #3052
@HackbrettXXX : I tried as you say but it's not working.

[2021-01-11 17:25] richard-lopes-ifood commented on #2925
Updates?

[2021-01-12 01:34] johnEthicalTechnology commented on #3053
Oh lol *head slap*. Thanks!

[2021-01-12 03:44] dhineshdhanapal commented on #3050
@HackbrettXXX thanks for your input, My concern here is, I have a table of contents in my page, I would like to allow user to copy the text from the table in exported pdf. I couldn't do it due to, it is vector graphics. Kindly correct me if I am wrong.

[2021-01-12 09:30] HackbrettXXX commented on #3050
The text created by the `html` method *is* selectable. See e.g. this file: https://github.com/MrRio/jsPDF/blob/master/test/reference/html-basic.pdf. It was created with this code: https://github.com/MrRio/jsPDF/blob/master/test/specs/html.spec.js#L13

[2021-01-12 09:33] denisecastagna opened #3059 "output/save function not working on safari mobile"
When I try to download the PDF on Safari Mobile (iOS 14.3) call the output function (with every type possible as input) or save function the result is that the page is reload.

It works fine on the web version of Chrome or Firefox.

[2021-01-12 09:36] HackbrettXXX commented on #3052
I'm no React expert but I would say you need to use `setState` to set the `src` variable. Otherwise React won't update the component. But, as I said, this is a React specific issue and has nothing to do with jsPDF. I can't help you with that.

[2021-01-12 10:28] SwissMaWi commented on #2945
Thanks for pointing to the html function. How can I add the typings for it?

[2021-01-12 10:50] SwissMaWi commented on #2832
I have the same issue with jsPDF 2.2.0 and a number formatted to locale with thousand separator:
![image](https://user-images.githubusercontent.com/46742945/104304808-27a33100-54cc-11eb-8703-a3a2d94c672c.png)
renders in PDF to
![image](https://user-images.githubusercontent.com/46742945/104304917-4dc8d100-54cc-11eb-8dbf-6e6464a34368.png)

[2021-01-12 11:44] HackbrettXXX commented on #2945
The typings are located at [types/index.d.ts](https://github.com/MrRio/jsPDF/blob/master/types/index.d.ts#L955). The TypeScript compiler should pick them up automatically, when using node resolving/npm.

[2021-01-12 13:28] kantsverma commented on #2885
Solved the issues by adding this by adding wrapper div and css width in px. It work for me

[code]

[2021-01-12 14:48] SwissMaWi commented on #2945
Thanks @HackbrettXXX  but the typings are wrong. I thought I can get them right myself to reflect the new .html method.

[2021-01-12 15:02] HackbrettXXX commented on #2945
What exactly is wrong with the typings? Note that there are some issues with the margins and positioning currently (e.g. #2924). If you want to correct them a pull request would be very welcome :)

[2021-01-13 00:16] MaximeMorin commented on #2832
@SwissMaWi From my testing, 1.5.3 should work fine.

[2021-01-13 02:50] #2949 closed

[2021-01-13 02:54] qiphon opened #3060 "why use "optionalDependencies" in packageJson? project is rely on it ."
when i ignored "optionalDependencies" on my install packages.  errors came out.....

[2021-01-13 08:59] HackbrettXXX commented on #3060
They are optional because only _some_ functions require them. E.g. the `html` function requires `html2canvas` (and, optionally, dompurify), while the rest of jsPDF does not need it. What exact errors are you encountering?

[2021-01-13 15:34] HackbrettXXX commented on #3059
Can confirm that `save()` opens the PDF in the same tab instead of downloading it. However, `output('datauristring')` does not reload the page. At least not on Browserstack.

[2021-01-13 21:15] JeBuSBrian opened #3061 "Using image alias does not appear to reduce filesize"
My project generates PDFs by reusing many component images and compositing them into the document. However, I tested my code using aliases vs not using aliases, and the filesize is identical. Can anyone confirm that the PDF resource dictionary and streams is being used by jsPDF, so that image resources aren't stored multiple times in the output document?

*edit*
I suppose one possibility is that t

[2021-01-14 02:56] #2953 closed

[2021-01-14 07:55] denisecastagna commented on #3059
The problem was caused by this settings filters: ["ASCIIHexEncode"] in the initialization of the jsPDF instance. Without it, all works fine. Thank you.

[2021-01-14 07:56] #3059 closed

[2021-01-14 08:54] HackbrettXXX commented on #3061
That's exactly what happens ;) If you don't supply an alias, a hash is computed and used as alias: https://github.com/MrRio/jsPDF/blob/master/src/modules/addimage.js#L871

[2021-01-14 08:55] HackbrettXXX commented on #3061
We should probably improve the documentation here... Could you maybe prepare a pull request for this?

[2021-01-14 11:49] PerryRylance commented on #3051
This is a scope issue. Make a function to deal with this and then call that from the for loop.

[2021-01-14 15:10] JeBuSBrian commented on #3061
@HackbrettXXX That makes sense, and I'm glad that's happening behind the scenes. What is the use-case for aliases as an argument in the addImage function, then?

[2021-01-14 15:18] HackbrettXXX commented on #3061
To be honest, I'm not sure. Maybe to force jsPDF to embed an image multiple times? Or for the off-chance that two different images have the same hash?

[2021-01-14 15:18] #3051 closed

[2021-01-14 17:00] JeBuSBrian commented on #3061
I'm marking this as closed, since it's working as intended and does in fact minimize filesize by default.

[2021-01-14 17:00] #3061 closed

[2021-01-15 10:25] HackbrettXXX commented on #3046
Ah, I just found the issue:
[code]
The font name (second parameter) must also be 'David'. Otherwise jsPDF can't resolve the David font in bold. You probably also received this console warning:
[code]

This works on my side:
[code]

[2021-01-15 14:00] yogendra3236 commented on #1409
Thanks, this is quite helpful :)

[2021-01-15 14:11] HackbrettXXX commented on #2832
I finally found out that this is indeed a regression to 1.5.3 and is due to the `options.flags` parameter being ignored by the `text` function. As a consequence, the defaults were wrong. I created a [PR](https://github.com/MrRio/jsPDF/pull/3062), which should fix the issue with the next release.

[2021-01-15 14:25] #2832 closed

[2021-01-15 15:02] RoXuS opened #3063 "Since 2.2.0 rollup build crash"
Hey we are trying to use 2.2.0 but on our build we have the following error:
[code]

However pako seems to have a esm export (https://github.com/nodeca/pako/blob/master/dist/pako.esm.mjs).

No issue on 2.1.1.

[2021-01-15 15:18] HackbrettXXX commented on #3063
Pako will be replaced with fflate in 2.3.0 which I'm just about to release ;) It probably makes sense to update before we spend time looking into this...

[2021-01-15 15:46] RoXuS commented on #3063
great! I am waiting your 2.3.0 to test, thx

[2021-01-15 16:15] HackbrettXXX commented on #3063
It's out: https://github.com/MrRio/jsPDF/releases/tag/v2.3.0

[2021-01-15 16:31] RoXuS commented on #3063
And it works as expected, thx!!

[2021-01-15 16:31] #3063 closed

[2021-01-16 02:55] #2908 closed

[2021-01-16 14:04] SubhashGaikwad commented on #2640
@AFilipchyk oh really how does it work!! Can you please share how you pass UTF-8 code using pdfmake

[2021-01-17 13:11] skpmyid opened #3066 "addPage() orientation is inverted, and a question"
https://github.com/MrRio/jsPDF/blob/63f89d47d1cd60091e62d6d51570f78f27d01a23/dist/jspdf.umd.js#L3704-L3715

the format is inverted, and why now i can't use addPage(param1, param2) like in the parallax site?

[2021-01-18 00:26] skpmyid commented on #3066
And why do i need to use this code to use jsPDF?

var jsPDF = jspdf.jsPDF

[2021-01-18 02:55] #2954 closed

[2021-01-18 02:55] #2511 closed

[2021-01-18 08:29] #2969 closed

[2021-01-18 11:38] HackbrettXXX commented on #3066
Yes, I don't like this either. That's some legacy code we should probably change with the next major release.

What do you mean by that? [addPage](http://raw.githack.com/MrRio/jsPDF/master/docs/jsPDF.html#addPage) accepts two parameters: format and orientation.

var jsPDF = jspdf.jsPDF

This is a change that was introduced with 2.0.0 to make the UMD variant of the library consistent with the es mo

[2021-01-18 11:39] HackbrettXXX opened #3067 "Suggestiongs for next major release breaking changes"
* Don't flip `width/height` if `format` parameter does not fit dimensions. The orientation parameter only makes sense if a fixed page format like "a4" is provided. (e.g. #3066).
* Make some hotfixes the default behavior.
* Maybe make `pt` the default unit (scale factor 1).

[2021-01-18 13:54] skpmyid commented on #3066
Thank you for answering. So what i meant by addPage(param1, param2) is was orientation param changed to an array? Because in parallax it wasn't an array

[2021-01-18 14:12] skpmyid commented on #3066
It IS an array, sorry i wasn't reading the module

[2021-01-18 14:13] #3066 closed

[2021-01-19 09:35] avimad opened #3068 "setFontStyle & setFontType is missing while importing i am using latest 2.3.0 package from npm"
setFontStyle & setFontType is missing while importing i am using latest 2.3.0 package from npm

[2021-01-19 16:10] HackbrettXXX commented on #3068
The methods were removed in [2.0.0](https://github.com/MrRio/jsPDF/releases/tag/v2.0.0), because in PDF, it's only possible to set the font name together with the font style. If you really need to, you can use [setFont](http://raw.githack.com/MrRio/jsPDF/master/docs/jsPDF.html#setFont) and pass `undefined` as `fontName`.

[2021-01-19 21:23] nathan-gt opened #3069 "The CDN section of the readme doesn't mention the need for jqery"
I was trying to use the CDN for jsPDF but my browser would tell me "jspdf is not defined", after seeing the code of someone else randomly on stack overflow I saw that they also included the CDN for jquery, which made jspdf work on my side. I just thought maybe mentioning the need to have jqery imported for the CDN could save the hassle I had for other people haha

[2021-01-20 01:57] CurryPaste commented on #2968
Thank you. He inspired me.
I use ```html``` method, but the tag on the page does not show the Chinese I want, but after reading your reply, I added font family to the tag on the page, and it can be used.

This is the end result:
![QQ截图20210120095315](https://user-images.githubusercontent.com/51729441/105116342-8b011480-5b05-11eb-97d5-e4767e0f8831.png)
This is code:
[code]
[code]
It's amazing 🎉

[2021-01-20 08:58] HackbrettXXX commented on #3069
jsPDF does _not_ require jQuery! It's probably something else that made it work...

[2021-01-20 10:48] avimad commented on #3068
Thanks @HackbrettXXX

[2021-01-20 11:14] #3068 closed

[2021-01-20 13:09] skpmyid commented on #3069
i think you just need this code below to define it, no need of jquary. Then u can do `var doc = new jsPDF()`
https://github.com/MrRio/jsPDF/blob/63f89d47d1cd60091e62d6d51570f78f27d01a23/index.html#L90

[2021-01-20 15:02] MauroPalgi commented on #2236
i had the same error, any update?

[2021-01-20 15:12] nathan-gt commented on #3069
I've just tried this and ```javascript var jsPDF = window.jspdf;``` seems to work, but not ```javascript var jsPDF = window.jspdf.jsPDF;```, and without jquery, thanks a bunch! Is that information available in the documentation?

[2021-01-20 15:29] MauroPalgi commented on #2236
if this can help anyone, insted of `doc.output('blob')`, i used `doc.output('arraybuffer')`, and a "custom" download function:

[code]

[2021-01-21 00:12] skpmyid commented on #3069
Usage > Other Module Formats > Globals, yup there is

[2021-01-21 05:46] robertnicjoo opened #3070 "Uncaught ReferenceError: jsPDF is not defined"
I am getting `Uncaught ReferenceError: jsPDF is not defined` error

[code]

[2021-01-21 06:02] robertnicjoo commented on #3070
never mind I've solved my issue with [this package](https://github.com/eKoopmans/html2pdf/blob/master/dist/html2pdf.bundle.min.js)

[2021-01-21 06:02] #3070 closed

[2021-01-21 06:02] robertnicjoo commented on #3070
never mind I've solved my issue with [this package](https://github.com/eKoopmans/html2pdf/blob/master/dist/html2pdf.bundle.min.js)

[2021-01-21 08:16] kantsverma opened #3071 "TextField fontsize does not work."
Feature requests, bug reports etc. are very welcome as issues. But questions are directed to stackoverflow with the tag `jspdf`.

If you are facing issues with utf-8 characters, please refer to [#2677](https://github.com/MrRio/jsPDF/issues/2677).

Note that bug reports should follow these guidelines:

1. A bug should be reported as an [mcve](https://stackoverflow.com/help/mcve)
2. Make sure code i

[2021-01-21 08:24] #3069 closed

[2021-01-21 14:25] HackbrettXXX commented on #3071
Textfields have their own `fontSize` property: http://raw.githack.com/MrRio/jsPDF/master/docs/module-AcroForm-AcroFormTextField.html. Use this.

[2021-01-22 02:58] #2965 closed

[2021-01-22 02:58] #2962 closed

[2021-01-22 07:29] CurryPaste commented on #2945
I finally know why I added the margin attribute, but it didn't work. 😅So if I want to use the margin attribute, which version should I reduce to?

[2021-01-22 07:54] gologames commented on #2778
Hello,

May we hope that this will be fixed?

Thanks, Alex
SurveyJS Team

[2021-01-22 08:57] HackbrettXXX commented on #2778
@gologames I personally don't have the time to look into this. So this will only be fixed if someone from the community provides a PR.

[2021-01-22 09:16] CurryPaste commented on #2295
If there is only one page, then this way is OK. However, if it is more than one page, there is no margin at the bottom of the first page and at the top of the second page. helpless😔

[2021-01-24 19:36] OmedMilat opened #3072 "HTMLAnchorElement is not defined"
Using React Native i get the error `ReferenceError: HTMLAnchorElement is not defined` when declaring & assigning jsPDF `const doc = new jsPDF();` .

That error comes from FileSaver.js (which is understandable because it does not support RN), an [PR](https://github.com/eligrey/FileSaver.js/pull/533) has been merged to prevent this error from crashing RN applications. Is it possible to apply that ch

[2021-01-25 05:40] CurryPaste opened #3074 "Can I use html() multiple times in a PDF"
I want to export a PDF in a function.
At the same time, the content inside is generated by using ```.html()``` many times.
If only once ```.html()``` there is no problem at all.
But I found that I used it twice, and the content of the second time would not be generated in PDF.
So I want to know,```.html()``` Only once?
this is code
[code]
By the way, we've dealt with this problem in other ways, so

[2021-01-25 07:34] zhengyx950211 opened #3075 "Error in ./~/jspdf/dist/jspdf.es.min.js"
Module parse failed: node_modules\jspdf\dist\jspdf.es.min.js Unexpected token (207:77)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (207:77)

[2021-01-25 08:44] HackbrettXXX commented on #3075
Please provide more contextual information: which jsPDF version, which build tool (+version), which plugins (+versions).

[2021-01-25 09:00] HackbrettXXX commented on #3074
Can confirm. Calling `html` a second time has no effect.

[2021-01-25 09:02] HackbrettXXX commented on #2677
@miriankakhidze please provide more details.

[2021-01-25 09:03] HackbrettXXX commented on #3072
Would be good to apply the change to jsPDF. Could you prepare a PR?

[2021-01-25 09:09] #3072 closed

[2021-01-25 17:30] miriankakhidze commented on #2677
@HackbrettXXX for example: i'm using Calibri font.
it's working in other app or in web, everywhere except in this PDF generator,
![image](https://user-images.githubusercontent.com/15214958/105702824-c779a980-5f25-11eb-8924-5f5f7d07025d.png)
![image](https://user-images.githubusercontent.com/15214958/105703295-70280900-5f26-11eb-8135-a22b2032f52c.png)

1. convert Calibri.ttf file to Base64 with thi

[2021-01-25 17:45] miriankakhidze commented on #2677
it's working on English alphabet but not Georgian
![image](https://user-images.githubusercontent.com/15214958/105744476-9bc2e780-5f56-11eb-9c31-2cb6eb23ffe3.png)

[2021-01-26 07:38] szandra-homonnai opened #3076 "new Worker() warning in minified version of jsPDF"
I'm using version 2.3.0 in an Angular project (version 9). When I'm creating a build for my application, I'm getting this warning:

[code]

I didn't have this warning when I used jsPDF version 2.2.0.

[2021-01-26 11:54] HackbrettXXX commented on #3076
Cannot reproduce. JsPDF does not create any workers on its own. Please share a small project that reproduces the issue.

[2021-01-26 13:40] HackbrettXXX commented on #2677
@miriankakhidze which version of jsPDF do you use? When using the `html` method you might also try the new [fontFaces](http://raw.githack.com/MrRio/jsPDF/master/docs/module-html.html#~html) API (jsPDF@>=2.3.0).

[2021-01-26 13:43] miriankakhidze commented on #2677
@HackbrettXXX  I'm using 2.3.0

[2021-01-26 20:17] miriankakhidze commented on #2677
@HackbrettXXX i tried it too, but still not working,

`doc.html(conRef.current, {
        callback(isPdf) {
          isPdf.setFont("Calibri Regular");
          isPdf.save();
        },
        filename: "test",
        fontFaces: [
          {
            family: "Calibri Regular",
            weight: 500,
            stretch: "normal",
            src: ["/fonts/calibri.ttf"],
          },

[2021-01-27 01:38] CurryPaste commented on #3074
Yes, but if you call ```html``` again in the ```callback``` function, you can override the last time. That's more interesting 😀 So we finally adopted the ```window.print``` to deal with pdf

[2021-01-27 02:13] #2805 closed

[2021-01-27 11:02] HackbrettXXX commented on #2677
@miriankakhidze Please share small complete project so we can reproduce the issue.

[2021-01-27 16:07] ChrisEbert opened #3077 "scope is not defined in cell.js"
Using the `getTextDimensions()` function from `modules/cell.js` throws an error if the `maxWidth` option is set.

Error:
[code]